Repository andes/api, pull requests merged in 2018-04, with the labels that each got.

#256 permisos pto inicio
  auth/permisos.ts
Labels: enhancement

#270 fix: Resolvemos problema para descargar resumen de consulta en PDF
  modules/descargas/controller/descargas.ts
  package-lock.json
  package.json
Labels: bug

#276 chequeo repetidos de carpeta paciente
  core/mpi/controller/paciente.ts
  core/mpi/routes/paciente.ts
  modules/turnero/routes/configuracionPantalla.ts
  package-lock.json
Labels: enhancement

#278 Motivo consulta
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/turno.ts
Labels: enhancement

#280 Formulario Terapeutico
  core/tm/controller/formularioTerapeutico.ts
  core/tm/routes/especialidadesFT.ts
  core/tm/routes/formularioTerapeutico.ts
  core/tm/schemas/especialidadesFT.ts
  core/tm/schemas/formularioTerapeutico.ts
Labels: next
