Repository andes/api, pull requests merged in 2018-07, with the labels that each got.

#344 fix acentos SMS
  CHANGELOG.md
  package-lock.json
  package.json
  utils/roboSender/sendSms.ts
  utils/utils.ts
Labels: bug

#339 endpoint get historial turnos paciente
  config.ts
  modules/carpetas/routes/carpetaPaciente.ts
  modules/carpetas/routes/ultimaCarpeta.ts
  modules/carpetas/schemas/carpetaPaciente.ts
  modules/carpetas/schemas/ultimaCarpeta.ts
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/turno.ts
Labels: enhancement

#356 fix filtro de estado agenda
  modules/turnos/routes/agenda.ts
Labels: bug

#371 fix cambio carpeta sobreturnos
  core/mpi/controller/paciente.ts
  modules/carpetas/routes/ultimaCarpeta.ts
  modules/turnos/controller/agenda.ts
Labels: enhancement, test
