Repository andes/api, pull requests merged in 2018-09, with the labels that each got.

#411 Corregimos calculo de edad y agregamos al ministerio de salud en el footer de los informes
  modules/descargas/controller/descargas.ts
  templates/rup/informes/html/informe.html
Labels: BugFix

#408 Log liberacion turno
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/agenda.ts
  modules/turnos/routes/turno.ts
  utils/loggerPaciente.ts
Labels: enhancement

#415 Prestaciones no nominalizadas
  core/tm/schemas/tipoPrestacion.ts
  modules/rup/schemas/prestacion.ts
  modules/turnos/controller/turnosController.ts
  package-lock.json
Labels: next

#413 MITOS - Mapeos estáticos en MITOS
  core/term/controller/mapping.ts
  core/term/routes/snomed.ts
  core/term/schemas/staticmapping.ts
Labels: next
