Repository andes/api, pull requests merged in 2018-05, with the labels that each got.

#286 Hot fix get turno
  modules/turnos/controller/turnosController.ts
  package-lock.json
  package.json
Labels: bug

#291 Fix integración job
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
Labels: bug

#290 Fix integracion job
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
Labels: bug

#299 WORK IN PROGRESS: hotfix schema agenda mongoose
  modules/turnos/schemas/agenda.ts
Labels: bug

#292 Fix revision
  core/term/routes/cie10.ts
  package-lock.json
Labels: bug

#298 fix Issue app#460
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/turno.ts
Labels: bug

#310 Fix pacientes sin dni
  modules/obraSocial/routes/obraSocial.ts
  modules/turnos/routes/carpetaPaciente.ts
Labels: bug

#308 bugfix logger paciente
  utils/loggerPaciente.ts
Labels: bug

#301 Revision rutas citas
  modules/turnos/routes/agenda.ts
  modules/turnos/routes/turno.ts
Labels: enhancement

#311 Pecas consolidado
  config.private.ts.example
  core/term/schemas/cie10.ts
  core/tm/schemas/organizacion.ts
  jobs/pecasConsolidadoJob.ts
  modules/estadistica/pecas/controller/agenda.ts
  package-lock.json
Labels: next

#305 Wsrenaper
  config.private.ts.example
  core/log/schemas/log.ts
  modules/fuentesAutenticas/routes/anses.ts
  modules/fuentesAutenticas/routes/renaper.ts
  utils/servicioAnses.ts
  utils/servicioRenaper.ts
Labels: enhancement

#315 Prestamos manuales
  auth/permisos.ts
  modules/prestamosCarpetas/controller/prestamosController.ts
  modules/prestamosCarpetas/routes/prestamos.ts
  modules/prestamosCarpetas/schemas/constantes.ts
  modules/prestamosCarpetas/schemas/prestamo.ts
  modules/prestamosCarpetas/schemas/solicitudCarpetaManual.ts
Labels: next
