Repository andes/api, pull requests merged in 2018-11, with the labels that each got.

#486 se agregan campos de ficha y reporte en codificarTurno
  modules/turnos/controller/agenda.ts
Labels: BugFix

#468 CITAS - Permitir ingresar Numero de afiliado
  core/mpi/controller/paciente.ts
  core/mpi/schemas/financiador.ts
  modules/obraSocial/routes/obraSocial.ts
  modules/obraSocial/schemas/obraSocial.ts
  modules/turnos/routes/turno.ts
Labels: enhancement

#489 Filtros por permisos TOP
  auth/permisos.ts
  modules/rup/routes/prestacion.ts
Labels: enhancement

#497 Nuevos filtros top
  auth/permisos.ts
  initialize.ts
  modules/rup/routes/prestacion.ts
  package.json
Labels: enhancement, next

#514 Se agrega prestacion generica de consulta
  modules/cda/controller/CDAPatient.ts
Labels: enhancement

#457 limpieza+modificacion carpetas cuando no se resuelve en la app
  modules/carpetas/schemas/carpetaPaciente.ts
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/turno.ts
Labels: BugFix
