Repository andes/api, pull requests merged in 2018-06, with the labels that each got.

#321 Fix integracion
  modules/legacy/schemas/constantes.ts
  modules/turnos/controller/agendasCacheController.ts
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
  modules/turnos/controller/operationsCacheController/operationsPaciente.ts
  modules/turnos/controller/operationsCacheController/operationsTurno.ts
  package-lock.json
  package.json
Labels: bug

#317 Rangos etarios C2
  modules/turnos/controller/diagnosticosC2Controller.ts
Labels: next

#322 Revision hotfix
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: bug

#325 fixito AgendaProfesional
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
  package-lock.json
  package.json
Labels: bug

#297 Integracion ANDES
  .github/issue_template.md
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
  modules/turnos/controller/operationsCacheController/operationsTurno.ts
  package-lock.json
Labels: enhancement, next
