Repository andes/api, pull requests merged in 2018-08, with the labels that each got.

#364 Carpetas job - PR limpio
  config.private.ts.example
  core/log/schemas/logJobs.ts
  core/tm/schemas/organizacionCache.ts
  jobs/actualizarCarpetasJob.ts
  modules/turnos/controller/carpetasController/carpetasController.ts
  modules/turnos/controller/carpetasController/config.ts
  modules/turnos/controller/carpetasController/utils.ts
  utils/loggerJobs.ts
Labels: test

#354 issue #576 indicar primera vez de c2
  modules/rup/schemas/prestacion.registro.ts
Labels: enhancement, test

#357 Puco.v2
  config.private.ts.example
  config.ts
  connections.ts
  core/tm/routes/profesional.ts
  modules/obraSocial/routes/obraSocial.ts
  modules/obraSocial/routes/periodoPadronesProfe.ts
  modules/obraSocial/routes/periodoPadronesPuco.ts
  modules/obraSocial/routes/profe.ts
  modules/obraSocial/schemas/obraSocial.ts
  modules/obraSocial/schemas/periodoPadronesProfe.ts
  modules/obraSocial/schemas/periodoPadronesPuco.ts
  modules/obraSocial/schemas/profe.ts
  modules/obraSocial/schemas/puco.ts
  modules/sugerencias/routes/sugerencias.ts
Labels: test

#365 Referencia solicitud
  modules/rup/controllers/prestacion.ts
  modules/turnos/routes/agenda.ts
Labels: bug

#397 Integración HPN: Request Timeout
  modules/turnos/controller/agendasHPNCacheController.ts
Labels: bug

#398 Integración HPN: Hora Inicio de la Agenda
  modules/turnos/controller/operationsCacheHPNController.ts
Labels: bug

#399 Query obra social > Agregamos chequeo de nulidad
  modules/obraSocial/routes/obraSocial.ts
Labels: BugFix

#404 verificación de paciente sin dni
  modules/turnos/controller/operationsCacheHPNController.ts
  modules/turnos/controller/pacienteHPNController.ts
  modules/turnos/controller/turnoHPNCacheController.ts
Labels: bug
