Repository andes/api, pull requests merged in 2018-03, with the labels that each got.

#224 Cuil patch
  core/mpi/controller/paciente.ts
  core/mpi/routes/paciente.ts
Labels: enhancement

#226 patch mpi para cuil
  core/mpi/routes/paciente.ts
Labels: enhancement

#232 Componente sugerencias
  config.ts
  modules/sugerencias/routes/sugerencias.ts
  package.json
  templates/emails/email-sugerencias.html
  utils/roboSender/roboSender.ts
  utils/roboSender/sendEmail.ts
Labels: enhancement

#223 Sub schema diagnostico
  modules/legacy/controller/operations.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
  modules/turnos/schemas/turno.ts
Labels: enhancement

#244 mejora busqueda cie10
  core/term/routes/cie10.ts
Labels: enhancement

#241 Huds citas solicitud destino
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
  utils/scriptsMongo/consultasHUDS/actualizarSolicitudes.ts
Labels: enhancement

#248 fix fhir parser
  fhir/patient/controller/parser.ts
  fhir/patient/routes/patient.ts
Labels: bug

#251 Mobile Farmacias
  modules/mobileApp/auth_routes/farmacias.ts
Labels: next

#246 Permisos para profesionales y pacientes en CDA
  jobs/farmaciasJob.ts
  modules/cda/routes/cda.ts
  modules/mobileApp/routes/paciente.ts
Labels: next

#254 fix Mapeo Snomed CIE-10 / Sobreturnos
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: bug

#247 Jobs actualizarTiposDeTurno
  modules/turnos/controller/agenda.ts
Labels: enhancement

#252 Dockerfile Modificaciones
  Dockerfile
  config.private.ts.example
  modules/cda/controller/import-labs.ts
  package-lock.json
  package.json
Labels: enhancement
