Repository andes/api, pull requests merged in 2019-07, with the labels that each got.

#738 feat(rup): agrega firma profesional en impresion de PDF
  core/tm/routes/profesional.ts
  modules/descargas/controller/descargas.ts
  package-lock.json
  package.json
Labels: EV

#753 fix(CITAS): La aplicación permitía liberar turnos sin verificar que se haya iniciado la prestación asociada
  modules/mobileApp/routes/turnos.ts
  modules/rup/controllers/prestacion.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: Aprobado, BugFix

#732 Mejora código devolución errores
  modules/obraSocial/routes/obraSocial.ts
Labels: EV, enhancement

#706 RUP - indicar la primera vez en los C2 en epicrisis y colonoscopia
  modules/rup/controllers/codificacionController.ts
Labels: EV

#734 Update paciente error handler
  core/mpi/controller/paciente.ts
Labels: Aprobado
