Repository andes/api, pull requests merged in 2019-04, with the labels that each got.

#652 Fix integración y estadísticas
  modules/turnos/controller/estadisticas.ts
  modules/turnos/controller/operationsCacheController/operationsAgenda.ts
Labels: Urgente

#643 Optimiza buscador
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: enhancement

#638 RUP/CITAS: Soluciona la duplicación de auditoría. Close #1110
  modules/rup/controllers/codificacionController.ts
  modules/rup/routes/prestacion.ts
Labels: bug

#658 RUP/CITAS: Soluciona la duplicación de auditoría: Fix1110
  modules/rup/controllers/codificacionController.ts
  modules/rup/routes/prestacion.ts
Labels: bug

#659 Optimiza buscador
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: enhancement

#663 Agrega control por prestación en el turno
  modules/estadistica/controller/procesarAgendas.ts
Labels: BugFix

#665 AUTH: Verifica problemas con ldap
  auth/routes/routes.ts
Labels: Urgente

#667 Correcciones en buscador
  modules/estadistica/controller/procesarAgendas.ts
Labels: BugFix

#649 CITAS: Pecas integration
  config.private.ts.example
  jobs/pecasConsolidadoJob.ts
  modules/estadistica/pecas/controller/agenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
  modules/estadistica/pecas/schemas/pecas.ts
Labels: enhancement

#676 MOBILE: Se verifica versión de la app para obligar update
  config.private.ts.example
  modules/mobileApp/auth_routes/authAppv2.ts
Labels: enhancement

#675 BI - Correcciones en el proceso
  jobs/pecasConsolidadoJob.ts
  modules/estadistica/pecas/controller/agenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
Labels: BugFix
