Repository andes/api, pull requests merged in 2019-03, with the labels that each got.

#600 CITAS - Consultar además del padrón de puco, los afiliados a SUMAR
  core/mpi/schemas/financiador.ts
  modules/obraSocial/controller/prepagas.ts
  modules/obraSocial/controller/puco.ts
  modules/obraSocial/controller/sumar.ts
  modules/obraSocial/routes/obraSocial.ts
  modules/obraSocial/schemas/padronPrepagas.ts
  modules/obraSocial/schemas/sumar.ts
  modules/rup/schemas/prestacion.ts
  modules/turnos/routes/turno.ts
  package.json
Labels: enhancement

#619 Planificación de cupos para aplicación móvil
  core/tm/schemas/direccion.ts
  modules/mobileApp/controller/NotificationService.ts
  modules/mobileApp/routes/agendas.ts
  modules/mobileApp/routes/turnos.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
  modules/turnos/routes/turno.ts
  modules/turnos/schemas/bloque.ts
Labels: enhancement

#626 Fix solapamiento
  modules/turnos/routes/agenda.ts
Labels: BugFix

#632 TurnosMobile - Fix bug consulta georeferencia
  modules/mobileApp/routes/agendas.ts
Labels: BugFix

#636 Buscador Prestaciones: Se agrega verificación de permisos+indice solicitud.turno
  modules/estadistica/routes/turnos_prestaciones.ts
  modules/rup/schemas/prestacion.ts
Labels: bug
