Repository andes/api, pull requests merged in 2019-05, with the labels that each got.

#683 GetById paciente paciente responde incluyendo los virtuals
  core/mpi/routes/paciente.ts
Labels: BugFix

#684 BI - Correcciones y optimizaciones en proceso
  modules/estadistica/pecas/controller/agenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
Labels: enhancement

#696 BI - Migración de agendas y prestaciones fuera de agenda en período
  config.private.ts.example
  jobs/migracionPecas.ts
  modules/estadistica/pecas/controller/agenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
Labels: enhancement

#700 V4.4.11
  auth/permisos.ts
  config.private.ts.example
  core/tm/controller/permiso.ts
  core/tm/routes/organizacion.ts
  core/tm/routes/permisos.ts
  jobs/migracionPecas.ts
  modules/estadistica/pecas/controller/agenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
  package.json
Labels: BugFix

#708 Títulos en fechas de ingreso y egreso para epicrisis + update phanthomjs
  modules/descargas/controller/descargas.ts
  package-lock.json
  package.json
  templates/rup/informes/html/informe.html
Labels: BugFix, Urgente
