Repository andes/api, pull requests merged in 2019-06, with the labels that each got.

#722 BI
  config.private.ts.example
  jobs/migracionPecas.ts
  modules/estadistica/pecas/controller/agenda.ts
Labels: BugFix

#719 V4.4.15
  config.private.ts.example
  core/tm/routes/profesional.ts
  jobs/migracionPecas.ts
  modules/descargas/controller/descargas.ts
  modules/estadistica/pecas/controller/agenda.ts
  package-lock.json
  package.json
  templates/rup/informes/html/informe.html
Labels: npm i

#725 fix(auth): handler LADP error and invalid credentials
  auth/routes/routes.ts
Labels: Urgente

#733 RUP ~ Informe semantic tags de productos
  modules/descargas/controller/descargas.ts
Labels: BugFix
