Repository andes/api, pull requests merged in 2020-12, with the labels that each got.

#1193 MPI - Actualiza controller de paciente en rutas mobile
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/validacion/validacion.routes.ts
  modules/mobileApp/routes/paciente.ts
  modules/mobileApp/routes/turnos.ts
  modules/mobileApp/routes/vacunas.ts
Labels: test ok

#1213 feat(mpi): servicio de renaper por federador
  core/mpi/controller/paciente.ts
  package-lock.json
  package.json
Labels: test ok

#1189 feat(rup): elementos rup hooks
  modules/rup/controllers/elementos-rup.controller.ts
  modules/rup/elementos-rup.controller.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/routes/elementosRUP.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/elementoRUP.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1203 MPI - Actualiza controller de paciente en prestamos de carpetas
  core-v2/mpi/paciente/paciente.routes.ts
  modules/prestamosCarpetas/controller/prestamosController.ts
  modules/prestamosCarpetas/schemas/solicitudCarpetaManual.ts
  modules/turnos/controller/estadisticas.ts
Labels: test ok

#1204 MPI - Actualiza controller de paciente en jobs
  core-v2/mpi/paciente/paciente.interface.ts
  core/mpi/controller/mpiCorrector.ts
  core/mpi/controller/regexChecker.ts
  core/mpi/controller/updateFuzzy.ts
  scripts/deleteFotoId.ts
Labels: changes requested, script

#1187 Descargas: descarga reporte arancelamiento
  core/tm/controller/organizacion.ts
  core/tm/controller/profesional.ts
  core/tm/routes/organizacion.ts
  modules/descargas/arancelamiento/arancelamiento-body.ts
  modules/descargas/arancelamiento/arancelamiento-footer.ts
  modules/descargas/arancelamiento/arancelamiento-header.ts
  modules/descargas/arancelamiento/arancelamiento.ts
  modules/descargas/informe-rup/informe-body.ts
  modules/descargas/informe-rup/informe-firma.ts
  modules/descargas/routes/descargas.ts
  modules/facturacionAutomatica/controller/facturacionAutomaticaController.ts
  modules/facturacionAutomatica/routes/configFacturacionAutomatica.ts
  templates/arancelamiento/arancelamiento.scss
  templates/arancelamiento/img/efectores/hospital-provincial-neuquen-dr-eduardo-castro-rendon.png
  templates/arancelamiento/img/logo-adicional-neuquen.png
  templates/arancelamiento/img/logo-adicional-sanJuan.png
  templates/arancelamiento/img/logo-adicional.png
  templates/arancelamiento/img/logo-andes-h.png
  templates/arancelamiento/img/logo-pdp.png
  templates/arancelamiento/sass/variables/cromaticas.scss
  templates/arancelamiento/sass/variables/formales.scss
Labels: test ok

#1208 MPI - Modifica response en validación por FA
  core-v2/mpi/validacion/validacion.error.ts
  modules/mobileApp/routes/paciente.ts
Labels: test ok

#1221 fix(RUP): Corrige los parámetros para obtener la firma
  modules/descargas/informe-rup/informe-body.ts
Labels: BugFix, Urgente

#1214 COM: refactor de adjuntar archivos
  modules/centroOperativoMedico/derivaciones.routes.ts
  packages/drive/adapters/SeaweedAdapter.ts
  packages/drive/drive.ts
  packages/drive/file-descriptor/controller.ts
  packages/drive/file-descriptor/schemas.ts
  packages/drive/package.json
Labels: test fail

#1222 CIT: registra motivo liberación turno
  core/log/schemas/logPaciente.ts
  modules/turnos/routes/agenda.ts
  utils/loggerPaciente.ts
Labels: test ok

#1217 BI-QUERIES: Campo obligatorio/no obligatorio "organización" en bi queries
  auth/permisos.ts
  modules/huds/export-huds/exportHuds.routes.ts
Labels: test ok

#1206 TURNOS-PRESTACIONES: Descarga de prestaciones desde el buscador de turnos y prestaciones
  modules/huds/export-huds/exportHuds.controller.ts
  modules/huds/export-huds/exportHuds.routes.ts
  modules/huds/export-huds/exportHuds.schema.ts
  utils/roboSender/index.ts
Labels: Aprobado, test ok

#1218 COM: nuevo valor de prioridad especial a schema de derivaciones
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1225 feat(monitoreo): agrega permiso rupers
  auth/permisos.ts
Labels: test ok

#1197 MPI - rutas para verificar estado de FA
  core-v2/mpi/validacion/validacion.routes.ts
  package-lock.json
  package.json
Labels: test ok

#1229 fix(arancelamiento): reestablece ruta
  modules/facturacionAutomatica/routes/configFacturacionAutomatica.ts
Labels: test ok

#1224 COM: migrar archivos viejos al drive
  config.private.ts.example
  modules/centroOperativoMedico/derivaciones.routes.ts
  package-lock.json
  packages/drive/drive.ts
  packages/drive/package.json
  scripts/COM-46.ts
Labels: script

#1227 CIT: fix firma arancelamiento
  modules/descargas/arancelamiento/arancelamiento-body.ts
  modules/descargas/arancelamiento/arancelamiento.ts
Labels: test ok

#1230 GDU: mejorar feedback al usuario al cargar un usuario
  modules/gestor-usuarios/usuarios.routes.ts
Labels: test ok

#1232 TURNOS-PRESTACIONES: Agregar virtual scroll y filtro ambito
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
  modules/estadistica/routes/turnos_prestaciones.ts
Labels: test ok

#1234 feat(RUP): rutas de datos paramétricos para registros de vacuna
  initialize.ts
  modules/vacunas/index.ts
  modules/vacunas/nomivacCategoria.route.ts
  modules/vacunas/nomivacCondicion.route.ts
  modules/vacunas/nomivacDosis.route.ts
  modules/vacunas/nomivacEsquema.route.ts
  modules/vacunas/nomivacLaboratorio.route.ts
  modules/vacunas/nomivacVacuna.route.ts
  modules/vacunas/schemas/nomivacCategoria.schema.ts
  modules/vacunas/schemas/nomivacCondicion.schema.ts
  modules/vacunas/schemas/nomivacDosis.schema.ts
  modules/vacunas/schemas/nomivacEsquema.schema.ts
  modules/vacunas/schemas/nomivacLaboratorios.schema.ts
  modules/vacunas/schemas/nomivacVacuna.schema.ts
  modules/vacunas/schemas/vacunasApi.ts
Labels: test ok

#1212 fix(MAT): corrige filtros guia paciente
  core/tm/routes/profesional.ts
Labels: test ok

#1228 TOP: subir archivos a andesDrive
  modules/rup/routes/rupStore.ts
Labels: test ok

#1236 feat(nomivac): registro de aplicaciones de vacunas
  config.private.ts.example
  core/log/schemas/logExportaInformacion.ts
  jobs/exportCovid19.ts
  jobs/jobExportVacunaCovid19.ts
Labels: test ok

#1074 RUP: Adjuntar archivos adjuntos al email
  modules/descargas/routes/descargas.ts
Labels: Aprobado, test ok

#1226 MPI: Se agrega el numero de tramite en el paciente
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/paciente/paciente.routes.ts
  core/mpi/controller/paciente.ts
  core/mpi/routes/paciente.ts
Labels: test ok
