Repository andes/api, pull requests merged in 2020-10, with the labels that each got.

#1122 COM: esquema y rutas de reglasDerivacion
  initialize.ts
  modules/centroOperativoMedico/controllers/comStore.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/index.ts
  modules/centroOperativoMedico/reglasDerivacion.routes.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/centroOperativoMedico/schemas/reglasDerivacion.schema.ts
Labels: En revisión

#1092 RUP: posibilidad de registrar conceptos repetidos en una prestación
  modules/rup/schemas/elementoRUP.ts
Labels: test ok

#1116 Permisos: Permisos por consultas en BI-Queries
  auth/permisos.ts
Labels: test ok

#1133 COM: permisos
  auth/permisos.ts
Labels: test ok

#1130 fix(RUP): Datos de la solicitud en informe-PDF .Rup 133
  modules/descargas/informe-rup/informe-body.ts
  modules/descargas/informe-rup/informe-header.ts
  templates/rup/informes/sass/main.scss
Labels: Aprobado, test ok

#1144 chore(apm): add support for apm server
  apm.ts
  index.ts
  package-lock.json
  package.json
Labels: test ok

#1117 mapa-camas: sala de espera/común
  .circleci/config.yml
  auth/permisos.ts
  core/term/controller/mapping.spec.ts
  core/tm/interfaces/IOrganizacion.ts
  jest.config.js
  jobs/index.ts
  modules/rup/index.ts
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/camas.controller.test.ts
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/camas.routes.ts
  modules/rup/internacion/censo.controller.test.ts
  modules/rup/internacion/index.ts
  modules/rup/internacion/internacion.controller.test.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/internacion/internacion.routes.ts
  modules/rup/internacion/sala-comun/sala-comun-movimientos.schema.ts
  modules/rup/internacion/sala-comun/sala-comun-snapshot.test.ts
  modules/rup/internacion/sala-comun/sala-comun-snapshot.ts
  modules/rup/internacion/sala-comun/sala-comun.controller.ts
  modules/rup/internacion/sala-comun/sala-comun.routes.ts
  modules/rup/internacion/sala-comun/sala-comun.schema.ts
  modules/rup/internacion/sala-comun/sala-comun.test.ts
  modules/rup/internacion/test-utils/index.ts
  modules/rup/jobs/sala-comun.job.ts
  package-lock.json
  package.json
  packages/unit-testing/index.ts
  shared/schemas/nombre.ts
  tsconfig.json
  tslint.json
Labels: test ok

#1109 GDU: permisos unidad organizativa para internación
  core/tm/routes/organizacion.ts
Labels: test ok

#1140 refactor(rup): crear solicitudes en background
  core/tm/conceptos-turneables.routes.ts
  modules/descargas/informe-rup/informe-rup.ts
  modules/descargas/routes/descargas.ts
  modules/mobileApp/auth_routes/rup-adjuntos.ts
  modules/rup/controllers/estadisticas.ts
  modules/rup/controllers/prestacion.ts
  modules/rup/controllers/rup.ts
  modules/rup/controllers/solicitudes.controller.ts
  modules/rup/internacion/camas.controller.test.ts
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/censo.controller.test.ts
  modules/rup/internacion/censo.controller.ts
  modules/rup/internacion/internacion.controller.test.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/routes/codificacion.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
  modules/rup/schemas/snomed-concept.ts
  modules/top/controller/reglas.ts
  modules/top/routes/reglas.ts
  modules/top/schemas/reglas.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/controller/reportesDiariosController.ts
  scripts/TOP-41.ts
  scripts/rup-174.ts
Labels: has conflicts, script, test ok

#1147 fix(INTERNACION): Obtener historial de la internacion en la capa de enfermeria
  modules/rup/internacion/internacion.routes.ts
Labels: BugFix, Urgente, test ok

#1149 MPI - Filtro de caracteres en busquedas multimatch y search
  core/mpi/controller/paciente.ts
Labels: Aprobado, test ok

#1152 fix(mobile): fix parallel save error
  modules/mobileApp/auth_routes/autenticacionApp.ts
Labels: Urgente, test ok

#1131 CITAS - Habilita turnos de gestion en agendas del dia
  modules/turnos/routes/turno.ts
Labels: test ok

#1098 MPI - Job para actualización de datos en pacientes validados
  config.ts
  core-v2/mpi/paciente/paciente.routes.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core-v2/mpi/validacion/validacion.controller.ts
  core/mpi/controller/paciente.ts
  core/mpi/controller/updateValidados.ts
  core/mpi/jobs/updateValidadosJob.ts
  core/mpi/mpi.log.ts
  core/mpi/schemas/paciente.ts
Labels: test ok

#1151 INTERNACION - Arregla search estados que pisaba createdBy y createdAt del estado
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/sala-comun/sala-comun.controller.ts
Labels: test ok

#1141 INTERNACION - Agrega metodo para deshacer internaciones
  auth/auth.class.ts
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/camas.routes.ts
  modules/rup/internacion/internacion.controller.test.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/internacion/internacion.routes.ts
Labels: Aprobado, test ok

#1153 fix(RUP):error en prestaciones al desestructurar turno
  modules/turnos/controller/turnosController.ts
Labels: test ok

#1150 CITAS: fix PATCH /agenda: Cannot set headers after they are sent to …
  modules/rup/routes/prestacion.ts
  modules/turnos/routes/agenda.ts
Labels: test ok

#1146 MPI - script para actualizar foto/fotoId de pacientes
  core/mpi/controller/updateFoto.ts
  core/mpi/jobs/updateFotoJob.ts
  core/mpi/schemas/paciente.ts
Labels: changes done, test ok

#1142 DESCARGAS - generación de formulario recupero de costo
  modules/descargas/recupero-costo/recupero-costo-body.ts
  modules/descargas/recupero-costo/recupero-costo-header.ts
  modules/descargas/recupero-costo/recupero-costo.ts
  modules/descargas/routes/descargas.ts
  templates/recupero-costo/formulario.html
  templates/recupero-costo/formulario.scss
  templates/recupero-costo/img/logo.png
  templates/recupero-costo/img/logosalud.png
Labels: Aprobado

#1158 ObraSocial: se loguea codigoPuco de obra social no existente
  modules/obraSocial/obraSocialLog.ts
  modules/obraSocial/routes/obraSocial.ts
  modules/obraSocial/schemas/obraSocial.ts
  modules/obraSocial/schemas/puco.ts
Labels: Aprobado, test ok

#1105 Punto inicio andes
  core/tm/modulos.routes.ts
  core/tm/schemas/modulos.schema.ts
  scripts/submodulos.ts
  scripts/submodulos_json_data/modulos-new.json
Labels: script, test ok

#1128 RUP - Invalidar prestación
  modules/rup/routes/prestacion.ts
Labels: test ok

#1154 CORE: angular handler error
  core/log/routes/log.ts
  core/log/system.log.ts
  modules/turnos/citasLog.ts
  package-lock.json
  package.json
Labels: script, test ok

#1165 chore(logs): logs 2.2.2
  package-lock.json
  package.json
Labels: test ok

#1143 MPI - nuevo esquema para foto de paciente
  core/mpi/controller/paciente.ts
  core/mpi/routes/paciente.ts
  core/mpi/schemas/paciente.ts
Labels: test ok

#1164 INTERNACION - Corrige dos errores en los censos
  modules/rup/internacion/censo.controller.ts
Labels: Aprobado, test ok

#1156 Node 14: Actualización de dependencias
  Dockerfile
  core-v2/mpi/paciente/paciente.routes.ts
  core/tm/routes/disclaimer.ts
  core/tm/schemas/tipoPrestacion.ts
  modules/cda/controller/CDAPatient.ts
  modules/gestor-usuarios/usuarios.routes.ts
  modules/huds/hudsAccesos.schema.ts
  modules/huds/hudsAccesos.ts
  modules/mobileApp/pacienteApp.routes.ts
  modules/mobileApp/sendMessageCache.routes.ts
  modules/rup/internacion/sala-comun/sala-comun-movimientos.schema.ts
  modules/rup/internacion/sala-comun/sala-comun.schema.ts
  modules/webhook/webhook.routes.ts
  modules/webhook/webhooklog/webhooklog.routes.ts
  package-lock.json
  package.json
  utils/roboSender/sendSms.ts
Labels: test ok

#1166 fix(turnos): corrige lógica en bloques de solo gestión
  modules/turnos/routes/turno.ts
Labels: test ok

#1163 INDICES
  auth/auth.controller.ts
  auth/schemas/authUsers.ts
  connect/fhir/routes/practitioner.ts
  core/mpi/controller/paciente.ts
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
  modules/estadistica/pecas/controller/aggregateQueryPecas.ts
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
  modules/matriculaciones/routes/turno.ts
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/mobileApp/auth_routes/authAppv2.ts
  modules/mobileApp/controller/AuthController.ts
  modules/mobileApp/controller/NotificationService.ts
  modules/mobileApp/controller/RecordatorioController.ts
  modules/mobileApp/pacienteApp.routes.ts
  modules/mobileApp/routes/accounts.ts
  modules/mobileApp/routes/agendas.ts
  modules/mobileApp/routes/devices.ts
  modules/mobileApp/routes/turnos.ts
  modules/mobileApp/schemas/device.ts
  modules/mobileApp/schemas/pacienteApp.ts
  modules/prestamosCarpetas/controller/prestamosController.ts
  modules/prestamosCarpetas/schemas/prestamo.ts
  modules/prestamosCarpetas/schemas/solicitudCarpetaManual.ts
  modules/rup/controllers/codificacionController.ts
  modules/rup/routes/codificacion.ts
  modules/rup/schemas/codificacion.ts
  modules/rup/schemas/prestacion.solicitud.historial.ts
  modules/rup/schemas/prestacion.ts
  modules/seguimiento-paciente/seguimiento-paciente.schema.ts
  modules/top/schemas/reglas.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/controller/diagnosticosC2Controller.ts
  modules/turnos/controller/estadisticas.ts
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/agenda.ts
  modules/turnos/routes/espacioFisico.ts
  modules/turnos/routes/listaEspera.ts
  modules/turnos/routes/turno.ts
  modules/turnos/schemas/agenda.ts
  modules/turnos/schemas/espacioFisico.ts
  utils/roboSender/roboSchema.ts
Labels: script, test ok

#1160 feat(mapa-camas): sala comun debe aparecer como disponible
  modules/rup/internacion/camas.routes.ts
Labels: test ok

#1168 fix(turnoSolcitado): actualiza tipo de datos en esquema
  modules/matriculaciones/schemas/turnoSolicitado.ts
Labels: test ok

#1027 JOBS: exportar especialidades
  jobs/especialidadExport.ts
  jobs/jobEspecialidadExport.ts
Labels: En revisión

#1167 feat(webhook): agrega ruta para notificación
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/paciente/paciente.routes.ts
  modules/webhook/api-doc.yml
  modules/webhook/webhook.routes.ts
  swagger/swagger.class.ts
Labels: test ok

#1113 RUP: migración recursos paciente a core v2
  core-v2/mpi/paciente/paciente.routes.ts
  modules/rup/controllers/estadisticas.ts
  modules/rup/routes/hudsExtras.ts
  modules/rup/routes/prestacion.ts
  modules/vacunas/controller/VacunaController.ts
  modules/vacunas/routes/vacunas.ts
  utils/utils.ts
Labels: changes done, test ok

#1112 MPI: migracion de CDAs a core_v2
  core-v2/mpi/paciente/paciente.routes.ts
  modules/cda/controller/CDAPatient.ts
  modules/cda/routes/cda.ts
Labels: changes done, test ok

#1145 MPI:Job para actualizar bebes sin dni y obtener modificaciones
  config.private.ts.example
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/paciente/paciente.routes.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core/mpi/jobs/nacimientosProcess.ts
  jobs/importarNacimientosJob.ts
Labels: changes done, test ok
