Repository andes/api, pull requests merged in 2020-08, with the labels that each got.

#1050 fix(prestamo): agrega control de fecha manual
  modules/prestamosCarpetas/controller/prestamosController.ts
Labels: Aprobado

#1051 MITOS: Busqueda por expresion más eficiente
  core/term/controller/snomed.controller.ts
  core/term/controller/snomed.snowstorm.ts
  core/term/routes/snomed.ts
Labels: Aprobado

#1047 INTERNACION - Agrega permiso para editar cama de internacion
  auth/permisos.ts
Labels: Aprobado

#1057 INTERNACION - Controlar las camas al editar/eliminar sector
  core/tm/controller/organizacion.ts
  core/tm/routes/organizacion.ts
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/camas.controller.ts
Labels: Aprobado

#1080 GDU: ordenar organizaciones de usuario.
  auth/routes/routes.ts
  auth/schemas/authUsers.ts
Labels: En revisión

#1035 RUP: Marcar asistencia del turno en background
  modules/turnos/controller/agenda.ts
Labels: revisar

#1073 fix(RUP): filtrar los valores null de los graficos
  modules/rup/routes/prestacion.ts
Labels: Aprobado
