Repository andes/api, pull requests merged in 2020-11, with the labels that each got.

#1173 feat(mapa-camas): trackId en prestaciones
  modules/rup/internacion/index.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/internacion/resumen/internacion-resumen.hook.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1170 COM: guardar obra social del paciente
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1169 COM: indices y corrección en routes
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1172 COM: eliminado en historial derivaciones
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1065 RUP: mueve estadoFacturacion de codificación a prestación
  modules/rup/prestaciones.interface.ts
  modules/rup/routes/codificacion.ts
  modules/rup/schemas/prestacion.ts
  scripts/MISC-85.ts
Labels: Aprobado, script, test ok

#1175 MPI - Script para pacientes con fotoId pero sin foto
  scripts/deleteFotoId.ts
Labels: script

#1177 fix(mpi): agrega match de localidades en validación
  core-v2/mpi/validacion/validacion.controller.ts
  core/mpi/routes/paciente.ts
  core/tm/controller/localidad.ts
Labels: test ok

#1162 Turnos y prestaciones: se agrega el campo ambito
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: test ok

#1183 refactor(sms): quita servicio de sms
  utils/roboSender/sendSms.ts
Labels: test ok

#1139 MISC: unificación funcionalidad lectura/escritura de archivos
  core/tm/controller/file-storage.ts
  core/tm/routes/profesional.ts
  modules/descargas/informe-rup/elementos-rup/adjuntar-documento.component.ts
  modules/descargas/informe-rup/informe-firma.ts
  modules/descargas/routes/descargas.ts
  modules/mobileApp/auth_routes/rup-adjuntos.ts
  modules/rup/controllers/rupStore.ts
  modules/rup/routes/rupStore.ts
  modules/rup/schemas/rupStore.ts
Labels: test ok

#1132 RUP - Inicio de prestación para turno con múltiples profesionales
  modules/rup/routes/prestacion.ts
Labels: test ok

#1185 fix(rup): romper validacion check
  modules/rup/routes/prestacion.ts
Labels: test fail

#1176 feat(rup): agrega cache redis para frecuentes
  connections.ts
  modules/rup/controllers/frecuentesProfesional.ts
  modules/rup/routes/frecuentesProfesional.ts
  modules/rup/schemas/profesionalMeta.ts
Labels: test ok

#1171 MPI - Logueo de reporte de errores en datos de pacientes
  core/log/schemas/logPaciente.ts
  core/mpi/controller/paciente.ts
  utils/loggerPaciente.ts
Labels: test ok

#1181 MPI - Elimina paciente fhir de la api
  connect/fhir/api-doc.yml
  connect/fhir/controllers/parser.ts
  connect/fhir/controllers/validator.ts
  connect/fhir/routes/patient.ts
  connect/fhir/schemas/IPacienteFHIR.ts
Labels: test ok

#1188 RUP: impresión receta médica
  modules/descargas/informe-rup/elementos-rup/index.ts
  modules/descargas/informe-rup/elementos-rup/receta-medica.component.ts
Labels: test ok

#1190 refactor(mpi): agrega fotoId en validación
  core-v2/mpi/validacion/validacion.controller.ts
  core/mpi/controller/paciente.ts
  core/mpi/jobs/nacimientosProcess.ts
Labels: test ok

#1180 MPI - Elimina rutas de auditoria en api de paciente
  core/mpi/controller/paciente.ts
  core/mpi/routes/paciente.ts
Labels: test ok

#1155 CIT: incluye fuera de agendas a historial de citas
  modules/rup/controllers/prestacion.ts
  modules/turnos/controller/historialCitasController/historialCitasController.ts
  modules/turnos/routes/turno.ts
Labels: changes done, test ok

#1182 COM: sumar gravedad al habilitar una derivación desde el COM
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/centroOperativoMedico/schemas/reglasDerivacion.schema.ts
  package-lock.json
  package.json
Labels: test ok

#1179 TM - Elimina rutas fa que quedan en desuso
  config.ts
  core-v2/mpi/validacion/validacion.controller.ts
  modules/fuentesAutenticas/routes/renaper.ts
  modules/fuentesAutenticas/routes/sisa.ts
Labels: test ok

#1192 COM: impresión de comprobante
  modules/descargas/com/derivacion-body.ts
  modules/descargas/com/derivacion-firma.ts
  modules/descargas/com/derivacion-header.ts
  modules/descargas/com/derivacion.ts
  modules/descargas/routes/descargas.ts
  templates/com/comprobante.scss
Labels: test ok

#1184 MPI - Script para eliminar foto de relaciones del paciente
  core/mpi/controller/updateFoto.ts
  scripts/deleteFoto.ts
Labels: script, test ok

#1195 CORE: actualización de andes/core
  package-lock.json
  package.json
Labels: test ok

#1161 VISUALIZACION DE INFORMACION: Exportar HUDS
  auth/permisos.ts
  initialize.ts
  modules/descargas/routes/descargas.ts
  modules/huds/export-huds/exportHuds.controller.ts
  modules/huds/export-huds/exportHuds.log.ts
  modules/huds/export-huds/exportHuds.routes.ts
  modules/huds/export-huds/exportHuds.schema.ts
  modules/huds/export-huds/hudsFiles.ts
  modules/huds/export-huds/index.ts
  package-lock.json
  package.json
  utils/roboSender/index.ts
  utils/roboSender/roboSchema.ts
  utils/roboSender/roboSender.ts
Labels: test ok

#1178 Obras Sociales: nuevo servicio a Puco para consultar la obra social de un paciente
  modules/obraSocial/controller/obraSocial.ts
  modules/obraSocial/controller/puco.ts
  modules/obraSocial/routes/obraSocial.ts
  modules/obraSocial/schemas/obraSocial.ts
  modules/obraSocial/schemas/puco.ts
Labels: test ok

#1194 feat(tm): busqueda por ids en conceptos turneables
  core/tm/conceptos-turneables.routes.ts
  core/tm/routes/tipoPrestacion.ts
Labels: test ok

#1207 fix(puco): cambia uso de sisa por federador
  config.private.ts.example
  modules/obraSocial/controller/obraSocial.ts
  modules/obraSocial/controller/puco.ts
  modules/obraSocial/routes/obraSocial.ts
Labels: test ok

#1198 MPI - Verifica que la foto traida de renaper sea una imagen
  core/mpi/controller/paciente.ts
Labels: test ok

#1201 COM: permitir busqueda por id de paciente/profesional
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test ok

#1209 feat(elementos-rup): add rules
  modules/rup/schemas/elementoRUP.ts
Labels: test ok

#1199 MPI - Actualización de georeferencia y eventos
  core-v2/mpi/index.ts
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/paciente/paciente.routes.ts
Labels: test ok
