Repository andes/api, pull requests merged in 2020-01, with the labels that each got.

#831 feat(PRESTACIONES): incluye prioridad a las solicitudes
  modules/rup/routes/prestacion.ts
Labels: En revisión

#877 fix(solicitudes): Elimina filtro erroneo
  modules/rup/routes/prestacion.ts
Labels: BugFix

#879 CITAS: Clonado de agendas no nominalizadas
  modules/turnos/routes/agenda.ts
Labels: En revisión

#822 feat(MPI): disminución de tamaño de foto renaper
  core/mpi/controller/paciente.ts
  package-lock.json
  package.json
Labels: request changes

#797 TM - Profesión y matrícula externa
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
Labels: En revisión

#891 fix(TOP): cambia el filtro de solicitudes por tipo de prestaciones
  modules/rup/routes/prestacion.ts
Labels: BugFix

#892 TOP: Arregla error de performance en aggregate
  modules/rup/routes/prestacion.ts
Labels: BugFix, Urgente

#889 Prestamos: agrega retorno a método savePrestamosCarpetas
  modules/prestamosCarpetas/controller/prestamosController.ts
Labels: En revisión, request changes

#865 feat(gestor-usuario): add visibility attribute
  auth/permisos.ts
Labels: En revisión

#897 fix(CITAS): Agrega control de agenda dinamica al clonar
  modules/turnos/routes/agenda.ts
Labels: BugFix, Urgente

#843 HUDS - Privacidad
  auth/auth.class.ts
  auth/routes/routes.ts
  core/tm/controller/profesional.ts
  initialize.ts
  modules/cda/routes/cda.ts
  modules/huds/hudsAccesos.controller.ts
  modules/huds/hudsAccesos.routes.ts
  modules/huds/hudsAccesos.schema.ts
  modules/huds/hudsAccesos.ts
  modules/huds/index.ts
  modules/rup/routes/prestacion.ts
Labels: En revisión

#837 Monitoreo-App: ABM Webhook
  config.ts
  initialize.ts
  modules/webhook/index.ts
  modules/webhook/webhook.routes.ts
  modules/webhook/webhook.schema.ts
  modules/webhook/webhook.ts
Labels: Aprobado
