Repository andes/api, pull requests merged in 2020-04, with the labels that each got.

#866 PRIVACIDAD: sumado schema/rutas de disclaimer
  auth/schemas/authUsers.ts
  core/tm/routes/disclaimer.ts
  core/tm/schemas/disclaimer.ts
  modules/gestor-usuarios/usuarios.routes.ts
Labels: En revisión

#943 DESCARGAS - Corrección en la generación de informes
  modules/descargas/controller/descargas.ts
  templates/rup/informes/sass/main.scss
Labels: En revisión

#888 RUP - Previsualización de informe de prestación
  modules/descargas/controller/descargas.ts
  templates/rup/informes/html/censoDiario.html
  templates/rup/informes/html/informe.html
  templates/rup/informes/sass/main.scss
Labels: En revisión

#945 TOP: Arregla bug de permiso para unica prestacion
  modules/rup/routes/prestacion.ts
Labels: BugFix

#867 fix(huds): des-hardcodea epicrisis y colonoscopia
  modules/rup/controllers/codificacionController.ts
Labels: Aprobado

#907 RUP: Corrige ruta mapeo CIE10
  core/term/routes/snomed.ts
Labels: Aprobado
