Repository andes/api, pull requests merged in 2020-09, with the labels that each got.

#1082 RUP: registra inicio prestación
  .github/labeler.yml
  .github/workflows/labeler.yml
  core/term/schemas/cie10.ts
  core/tm/schemas/direccion.ts
  modules/matriculaciones/schemas/turnoSolicitado.ts
  modules/obraSocial/schemas/obraSocial.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
  scripts/index.ts
  scripts/rup-174.ts
  shared/schemas/direccion.ts
Labels: revisar, script

#1064 elementos-rup: filtro por sexo y remove populate
  modules/rup/schemas/elementoRUP.ts
  seed.sh
Labels: Aprobado

#1059 feat(RUP): asociar la obra social a la prestacion
  modules/rup/routes/prestacion.ts
  modules/turnos/controller/turnosController.ts
Labels: Aprobado

#1026 fix(RUP): agregar obra Social a informe-pdf
  modules/descargas/informe-rup/informe-header.ts
  modules/descargas/model/informe.class.ts
  templates/rup/informes/sass/main.scss
Labels: Aprobado

#1097 TOP: Registrar historial de solicitud en POST y PATCH de prestaciones
  modules/rup/controllers/prestacion.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.solicitud.historial.ts
  scripts/TOP-41.ts
Labels: script

#1101 fix(script top): agrega control en datos de asignacion de turno
  scripts/TOP-41.ts
Labels: script

#1019 PRESTACIONES - Para internacion filtra por fecha ingreso y/o egreso
  core/tm/schemas/direccion.ts
  initialize.ts
  modules/rup/index.ts
  modules/rup/internacion/index.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/internacion/internacion.routes.ts
  modules/rup/schemas/prestacion.ts
Labels: Aprobado

#1089 fix(RUP):buscador, filtrar FSN === TERM para sacar los conceptos duplicados .
  core/term/routes/snomed.ts
  package-lock.json
  package.json
Labels: Aprobado

#1060 INTERNACION - Agrega nota en los estados de camas
  .github/workflows/release.yml
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/camas.controller.ts
Labels: revisar

#1091 Permisos: nuevos permisos para modulo visualizacion de informacion
  auth/permisos.ts
  modules/turnos/routes/agenda.ts
  scripts/visualizacion-informacion.ts
Labels: script

#1094 MICROSERVICIOS: se suma 'identificadores' a profesion
  core/tm/schemas/profesion.ts
Labels: test ok

#1104 fix(profesionales): Agrega control de errores
  core/tm/routes/profesional.ts
  modules/matriculaciones/routes/turno.ts
Labels: test ok

#1102 MPI - Modificaciones en importación de nacidos vivos
  core/mpi/controller/mpiCorrector.ts
  core/mpi/jobs/nacimientosProcess.ts
  core/mpi/mpi.log.ts
Labels: test ok

#1110 fix(snowstorm): too heavy request
  core/term/controller/snomed.snowstorm.ts
Labels: test ok

#1058 INTERNACION - Agrega Unidad Organizativa en los extras del schema del estado de cama
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/camas.controller.test.ts
Labels: Aprobado, test ok

#1008 INTERNACION - Adapta la descarga de los censos a la nueva forma de PDF
  modules/descargas/controller/descargaCenso.ts
  modules/descargas/controller/descargaCensoMensual.ts
  modules/descargas/informe-censo/censo-body.ts
  modules/descargas/informe-censo/censo-footer.ts
  modules/descargas/informe-censo/censo-header.ts
  modules/descargas/informe-censo/censo-mensual-body.ts
  modules/descargas/informe-censo/censo-mensual-header.ts
  modules/descargas/informe-censo/informe-censo.ts
  modules/descargas/routes/descargas.ts
Labels: Aprobado

#1093 GDU: perfiles:write visibility restricted
  auth/permisos.ts
  modules/gestor-usuarios/perfil.routes.ts
  modules/rup/internacion/estados.routes.ts
  scripts/gdu-22.ts
Labels: script, test ok

#1115 chore(gridfs): update mongoose-gridfs
  Dockerfile
  core/tm/routes/profesional.ts
  core/tm/routes/profesionalImagen.ts
  core/tm/schemas/firmaAdmin.ts
  core/tm/schemas/firmaProf.ts
  core/tm/schemas/imagenes.ts
  modules/cda/controller/CDAPatient.ts
  modules/cda/routes/cda.ts
  modules/cda/schemas/CDAFiles.ts
  modules/descargas/informe-rup/informe-firma.ts
  modules/descargas/informe-rup/informe-footer.ts
  modules/descargas/informe-rup/informe-header.ts
  modules/registro-novedades/images/controller/imageStore.ts
  modules/registro-novedades/images/schemas/imageStore.ts
  modules/rup/controllers/rupStore.ts
  modules/rup/schemas/rupStore.ts
  package-lock.json
  package.json
Labels: En revisión, test ok

#1120 fix(cda): cambia string por objectId
  modules/cda/controller/CDAPatient.ts
Labels: test ok

#1084 MPI - Modifica busqueda 'search'
  core/mpi/controller/paciente.ts
Labels: test ok

#1111 MISC: refactor pdf PUCO
  modules/descargas/controller/descargas-puco.ts
  modules/descargas/model/informe.class.ts
  modules/descargas/puco/constancia-puco-body.ts
  modules/descargas/puco/constancia-puco-header.ts
  modules/descargas/puco/constancia-puco.ts
  modules/descargas/routes/descargas.ts
  templates/puco/constancia.html
Labels: test ok

#1118 CITAS - Fix validar prestacion de paciente con sobreturno
  modules/turnos/controller/agenda.ts
Labels: test ok

#1119 chore(logs): fix bucket size
  modules/descargas/informe-rup/utils/registro-to-html.ts
  modules/turnos/citasLog.ts
  package-lock.json
  package.json
Labels: test ok

#1108 COM: esquema y rutas de derivaciones
  initialize.ts
  modules/centroOperativoMedico/controllers/comStore.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/index.ts
  modules/centroOperativoMedico/schemas/comStore.schema.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1114 COM: Campo derivable y esCOM en efectores
  core/tm/routes/organizacion.ts
  core/tm/schemas/organizacion.ts
Labels: test ok

#1081 RUP: reemplaza filtros de ultimo estado de prestaciones
  modules/rup/controllers/estadisticas.ts
  modules/rup/controllers/prestacion.ts
  modules/rup/controllers/rup.ts
  modules/rup/routes/prestacion.ts
  modules/turnos/controller/agenda.ts
Labels: Aprobado, test ok

#1072 INTERNACION - Agrega borrado lógico en los estados de cama
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/cama-estados.schema.ts
Labels: Aprobado

#1129 INTERNACION - Agrega permiso para bloquear camas
  auth/permisos.ts
Labels: Aprobado, test ok
