Repository andes/api, pull requests merged in 2020-05, with the labels that each got.

#896 fix(TURNOS): corrige la codificación del turno con el diagnostico principal
  modules/turnos/controller/agenda.ts
Labels: En revisión

#952 AGENDAS: arregla comparación de ids de carpetas
  modules/turnos/routes/turno.ts
Labels: BugFix

#979 fix(auth): Agrega control de profesional null
  auth/auth.controller.ts
Labels: BugFix

#901 Monitoreo - ABM Registro de novedades
  core/tm/index.ts
  core/tm/modulos.routes.ts
  core/tm/schemas/modulos.schema.ts
  initialize.ts
  modules/registro-novedades/images/controller/imageStore.ts
  modules/registro-novedades/images/schemas/imageStore.ts
  modules/registro-novedades/index.ts
  modules/registro-novedades/novedades.routes.ts
  modules/registro-novedades/novedades.schema.ts
Labels: En revisión

#987 IPS - Proyecto de interoperabilidad con bus de nación (Resumen de paciente)
  config.private.ts.example
  config.ts
  initialize.ts
  modules/ips/controller/autenticacion.ts
  modules/ips/controller/ips.ts
  modules/ips/routes/ips.ts
  modules/rup/controllers/rup.ts
  modules/vacunas/controller/VacunaController.ts
  modules/vacunas/schemas/vacunasApi.ts
  package-lock.json
  package.json
Labels: Importante

#944 APP-MOBILE: Registro de accesos a la aplicación mobile
  auth/routes/routes.ts
  modules/mobileApp/auth_routes/autenticacionApp.ts
Labels: En revisión
