Repository andes/api, pull requests merged in 2021-08, with the labels that each got.

#1498 fix(job): elimina control confirmados en casos por nexos
  jobs/exportNexosSisa.ts
Labels: test ok

#1488 fix(RUP): informe-pdf, imagenes adjuntas
  modules/descargas/informe-rup/elementos-rup/adjuntar-documento.component.ts
Labels: test ok

#1500 fix(scripts): setup de servicios
  scripts/index.ts
Labels: script, test ok

#1468 EP: identificador PCR único
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
Labels: test ok

#1482 EP: chore calcular edad
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1479 RUP - Script para migrar prestaciones modificadas-anuladas
  scripts/RUP-265.ts
Labels: script, test ok

#1491 EP: guardar history post save
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-history.routes.ts
  modules/forms/forms-epidemiologia/forms-history.schema.ts
Labels: test ok

#1504 feat(MOBILE): agregar texto en email de codigo de activacón
  templates/emails/active-app-code.html
Labels: test ok

#1505 feat(cda): "optimiza" find de CDA
  modules/cda/controller/CDAPatient.ts
Labels: test ok

#1458 feat(jobs): consulta a web services de fallecidos
  jobs/actualizar-inscriptos-fallecidos.ts
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
Labels: Aprobado, test ok

#1502 Forms : Nuevo filtro clasificacionFinal
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1453 VAC - Dación de turno desde la inscripción
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
Labels: test fail

#1429 MPI: script actualizar relaciones
  scripts/updateRelacionesNacidos.ts
Labels: script, test ok

#1506 feat(VAC-88): mostrar esquemas y condiciones de una dosis
  auth/permisos.ts
Labels: test ok

#1450 MISC: semaforo priorizacion
  initialize.ts
  modules/semaforo/index.ts
  modules/semaforo/semaforo.routes.ts
  modules/semaforo/semaforo.schema.ts
Labels: test ok

#1497 Vac - Refactor de datos para colección nomivac
  modules/mobileApp/controller/VacunasController.ts
  modules/vacunas/controller/vacunas.controller.ts
  modules/vacunas/schemas/vacunas.ts
  modules/vacunas/schemas/vacunasApi.ts
Labels: changes done, test ok

#1511 INT - Error en datos con internaciones anuladas
  core-v2/mpi/mpi.log.ts
  modules/rup/internacion/censo.controller.ts
  modules/rup/internacion/internacion.controller.ts
Labels: test ok

#1477 Epidemiología: Save organización e index formsEpidemiolgia
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  scripts/EP-111.ts
Labels: script, test ok

#1507 SCRIPT: Actualizar turnos con Sumar
  scripts/add-sumar-turnos.ts
Labels: changes requested, script, test ok

#1516 TM - Control de permisos cargando organizaciones del usuario
  core/tm/routes/organizacion.ts
Labels: test ok

#1489 VAC - Elimina registro de nomivac al romper validación de vacuna
  config.private.ts.example
  modules/vacunas/controller/vacunas.events.ts
Labels: test ok, config

#1518 FORM - Identidad autopercibida en ficha covid19
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
Labels: Aprobado, test ok

#1521 Form - Fix para id de paciente
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  scripts/update-pacientes-ficha.ts
Labels: BugFix, Urgente, script
