Repository andes/api, pull requests merged in 2021-04, with the labels that each got.

#1322 VAC: mostrar los datos del inscripto al consulta por la inscripción
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
Labels: test ok

#1328 INSCRIPCION-PROFESIONALES: Campo solo profesionales matriculados
  core/tm/routes/profesional.ts
Labels: test ok

#1319 VACUNACION: Agrega parametros fecha desde y hasta al exportVacuna
  jobs/exportCovid19.ts
  jobs/jobExportVacunaCovid19.ts
Labels: test fail

#1329 fix(script VAC-9): reemplaza save por updateOne
  scripts/VAC-9.ts
Labels: script, test fail

#1315 MPI - Fix revalidación de paciente
  core-v2/mpi/paciente/paciente.controller.ts
Labels: test ok

#1323 VAC: cambio en el mensaje de inscripción registrada
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1300 VAC: nueva ruta para exportar vacunas
  jobs/exportCovid19.ts
  modules/vacunas/controller/VacunaController.ts
  modules/vacunas/controller/vacunas.controller.ts
  modules/vacunas/routes/vacunas.ts
Labels: test ok

#1324 feat(vacunas): TAG vacunasCovid en prestaciones
  modules/rup/prestaciones.interface.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/elementoRUP.ts
  modules/rup/schemas/prestacion.ts
  scripts/tag-vacunas.ts
Labels: script

#1316 VAC: nuevos eventos al validar o romper validación de certificación
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: script, test ok

#1333 fix(cda): ajuste de permisos al crear CDA
  modules/cda/controller/CDAPatient.ts
Labels: test ok

#1326 feat(mpi): quita foto del schema paciente.
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/paciente/paciente.routes.ts
  core/mpi/controller/updateValidados.ts
  core/mpi/jobs/nacimientosProcess.ts
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  scripts/deleteFotoPaciente.ts
  scripts/validar-inscriptos.ts
Labels: script

#1303 MPI - FIX error validando paciente
  core-v2/mpi/validacion/validacion.controller.ts
Labels: test ok

#1304 RUP - Refactor de búsquedas de conceptos de la Huds
  modules/mobileApp/routes/prestacion.routes.ts
  modules/rup/controllers/prestacion.ts
  modules/rup/routes/prestacion.ts
Labels: test ok

#1274 MPI - Agrupa jobs en core-v2/mpi
  core-v2/mpi/jobs/chequearRegexJob.ts
  core-v2/mpi/jobs/generateTokens.ts
  core-v2/mpi/jobs/importarNacimientosJob.ts
  core-v2/mpi/jobs/mpiCorrector.ts
  core-v2/mpi/jobs/mpiCorrectorJob.ts
  core-v2/mpi/jobs/nacimientosProcess.ts
  core-v2/mpi/jobs/regexChecker.ts
  core-v2/mpi/jobs/updateFoto.ts
  core-v2/mpi/jobs/updateFotoJob.ts
  core-v2/mpi/jobs/updateFuzzy.ts
  core-v2/mpi/jobs/updateFuzzyJob.ts
  core-v2/mpi/jobs/updateValidados.ts
  core-v2/mpi/jobs/updateValidadosJob.ts
  core-v2/mpi/mpi.log.ts
  core-v2/mpi/paciente/paciente.routes.ts
  jobs/chequearRegexJob.ts
  jobs/mpiCorrectorJob.ts
Labels: test ok

#1335 feat(drive): adaptador mongo
  packages/drive/adapters/MongoAdapter.ts
Labels: test ok

#1338 feat(webhook): cambia nombre de evento
  modules/webhook/webhook.routes.ts
Labels: test ok

#1280 AM: permitir que familiar actualice datos del paciente
  modules/mobileApp/routes/paciente.ts
Labels: Aprobado, test ok

#1325 VAC - Agrega filtro por fecha de registro
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1281 AM: permitir consultar laboratorios de familiares
  modules/cda/routes/cda.ts
  modules/mobileApp/routes/paciente.ts
Labels: Aprobado, test ok

#1334 EP: formEpidemiologia.type.id
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1337 EPIDEMIOLOGÍA: Buscador de fichas epidemiologicas
  core/tm/index.ts
  core/tm/schemas/organizacion.ts
  core/tm/schemas/zonaSanitarias.ts
  core/tm/zonaSanitaria.routes.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1346 VAC - Agregar nota a una inscripción
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1267 feat(COM): crear derivación como una prestación
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1354 feat(rup): ajuste en informe PDF
  modules/descargas/informe-rup/elementos-rup/checklist.component.ts
  modules/descargas/informe-rup/utils/registro-to-html.ts
Labels: test fail

#1292 AM: permitir el registro de nuevos paciente desde la app
  auth/auth.class.ts
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/mobileApp/pacienteApp.routes.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1359 fix(inscripcion): control de nro de trámite
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1353 VAC - Filtro por nombre y apellido
  modules/vacunas/inscripcion-vacunas.interface.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
  package.json
  scripts/vac-41.ts
Labels: script, test ok

#1355 TURNOS-PRESTACIONES: Fix en el fltro financiador
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: test ok

#1351 Events ficha epidemio
  modules/forms/forms-epidemiologia/forms-epidemiologia.events.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  modules/forms/index.ts
  modules/webhook/webhook.routes.ts
Labels: test ok

#1357 COM: unidad destino derivación
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/descargas/com/derivacion-body.ts
Labels: test ok

#1348 refactor(mpi): elimina rutas en desuso
  config.ts
  core-v2/mpi/index.ts
  core-v2/mpi/jobs/nacimientosProcess.ts
  core-v2/mpi/paciente/constantes.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core-v2/mpi/parentesco/parentesco.routes.ts
  core-v2/mpi/parentesco/parentesco.schema.ts
  core/mpi/index.ts
  core/mpi/routes/paciente.ts
  core/mpi/schemas/paciente.ts
  initialize.ts
Labels: test ok
