Repository andes/api, pull requests merged in 2021-05, with the labels that each got.

#1347 feat(COM): se verifica si tiene un email asociado para auditoria de com
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: BugFix, test ok

#1369 fix(inscripcion): quita doble llamado al evento create
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1343 feat(RUP): se agregan atributos a PlantillasRUPSchema
  modules/rup/schemas/plantillasRUP.ts
Labels: test ok

#1311 feat(matriculaciones): aplica tokens search en profesionales
  auth/auth.controller.ts
  core/tm/interfaces/profesional.interface.ts
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
  package.json
  scripts/core-68.ts
Labels: script, test ok

#1349 PER: recurso de carnet perinatal
  auth/permisos.ts
  initialize.ts
  modules/perinatal/carnet-perinatal.routes.ts
  modules/perinatal/controller/carnet-perinatal.events.ts
  modules/perinatal/index.ts
  modules/perinatal/schemas/carnet-perinatal.schema.ts
Labels: test ok

#1373 COM: asigna habilitadas al COM
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test fail

#1366 BUSCADOR-EPIDEMIO: Historial de fichas
  auth/permisos.ts
  initialize.ts
  modules/forms/forms-epidemiologia/forms-history.routes.ts
  modules/forms/forms-epidemiologia/forms-history.schema.ts
  modules/forms/index.ts
Labels: test ok

#1371 VAC: certificado al momento de la inscripción
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
Labels: test ok

#1350 COM: incluye historial en reporte derivación
  modules/descargas/com/derivacion-body.ts
  modules/descargas/com/derivacion.ts
  modules/descargas/routes/descargas.ts
Labels: test fail

#1383 feat(epidemio): Agregamos el campo sexo al objeto paciente de la ficha
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
Labels: test ok

#1370 VAC: monitoreo de inscriptos y gestión de turnos
  auth/permisos.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1358 MPI - Reemplaza controller de paciente en turnos
  core-v2/mpi/paciente/paciente.controller.ts
  modules/turnos/controller/turnosController.ts
  modules/turnos/routes/turno.ts
Labels: test ok

#1377 VAC - Fix, convierte mail a minuscula y elimina espacios
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test fail

#1378 VAC: arreglo al asignar id de paciente en validación
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
  scripts/validar-inscriptos.ts
Labels: script, test fail

#1356 Andes Services
  config.private.ts.example
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
  initialize.ts
  package-lock.json
  package.json
  services.ts
  utils/roboSender/sendEmail.ts
Labels: test ok

#1388 PERMISOS: Seguimiento de casos epidemiológicos
  auth/permisos.ts
Labels: test ok

#1363 MPI - Actualiza controller de paciente en descarga de informe RUP
  modules/descargas/informe-rup/informe-rup.ts
Labels: test ok

#1385 fix(AM): Agrega control al verificar si ya existe la cuenta
  modules/mobileApp/auth_routes/autenticacionApp.ts
  templates/emails/active-app-code.html
Labels: test ok

#1382 VAC - Inscripción de nuevo grupo 57 a 59 años
  core/tm/grupo-poblacional.routes.ts
  core/tm/schemas/grupo-poblacional.schema.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1393 fix(script): busca pacientes por vínculos
  scripts/VAC-9.ts
Labels: script, test ok

#1384 VAC: Consultas de grupo 57 a 59 años
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
Labels: test ok

#1399 fix(COM): fix send mail comprobante
  modules/centroOperativoMedico/controllers/com.controller.ts
  modules/descargas/com/derivacion-body.ts
  modules/descargas/com/derivacion.ts
Labels: BugFix, Urgente, test fail

#1389 VAC: ver listado de inscripciones asignadas
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1400 feat(fichaEpidemiologia): Se agrega al esquema de paciente de la ficha la identificacion de extrajero
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
Labels: test ok

#1386 AM: registro de familiares desde la app
  core/mpi/controller/paciente.ts
  modules/mobileApp/routes/paciente.ts
Labels: test ok

#1402 Huds: búsqueda de conceptos por pacientes vinculados
  modules/rup/controllers/prestacion.ts
Labels: test ok

#1404 fix(mpi): quita versión anterior del controller de mpi
  core-v2/mpi/paciente/paciente.controller.ts
  core/mpi/controller/paciente.ts
  core/mpi/schemas/financiador.ts
  core/mpi/schemas/paciente.ts
  modules/mobileApp/routes/paciente.ts
  modules/mobileApp/routes/turnos.ts
  scripts/deleteFoto.ts
Labels: test ok

#1392 AM: no validar trámite o captcha si es scan
  auth/auth.class.ts
Labels: changes done, test ok

#1403 feat(rup): patch paciente para obra social
  modules/rup/routes/prestacion.ts
Labels: test ok

#1406 MPI: Mayúscula al guardar alias del paciente
  core-v2/mpi/paciente/paciente.schema.ts
Labels: test ok

#1407 COM: envio mail a org destino
  modules/centroOperativoMedico/controllers/com.controller.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test ok

#1408 feat(RUP):agregar unidad organizativa a la prestación
  modules/rup/prestaciones.interface.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok
