Repository andes/api, pull requests merged in 2021-03, with the labels that each got.

#1284 feat(rup): nota al pie configurable
  modules/descargas/informe-rup/informe-footer.ts
Labels: Aprobado, test ok

#1283 AM: Actualizar subida de archivos para almacenar en AndesDrive
  modules/mobileApp/auth_routes/rup-adjuntos.ts
  package-lock.json
  package.json
  packages/drive/drive.ts
Labels: Aprobado, test fail

#1259 feat(mpi): documentos paciente
  auth/permisos.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core/mpi/schemas/paciente.ts
Labels: test ok

#1270 EPIDEMIOLOGIA: Form buillder y punto de inicio de ficha epidemiologica
  auth/permisos.ts
  initialize.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  modules/forms/forms-resources/forms-resources-routes.ts
  modules/forms/forms-resources/forms-resources-schema.ts
  modules/forms/forms.routes.ts
  modules/forms/forms.schema.ts
  modules/forms/index.ts
Labels: test ok

#1286 feat(Inscripcion vacunas): agrega recurso
  config.private.ts.example
  config.ts
  core/tm/grupo-poblacional.routes.ts
  core/tm/index.ts
  core/tm/schemas/grupo-poblacional.schema.ts
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  modules/vacunas/index.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/routes/vacunas.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1287 fix(AM): Corrige parametro en get de agendas disponibles
  modules/mobileApp/routes/agendas.ts
Labels: test fail

#1289 FICHA EPIDEMIOLÓGICA: Fix para busqueda de fichas
  auth/permisos.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1293 feat(inscripcion-vacunacion): Agrega eventos para actualizar inscripción
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/elementoRUP.ts
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1282 Se corrigen bugs al guardar pacientes obtenidos del Registro Civil
  core/mpi/jobs/nacimientosProcess.ts
Labels: changes done, test ok

#1290 VAC: variable para deshabilitar control de captcha
  config.private.ts.example
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1296 fix(VAC): Agregar el campo de riesgos/morbilidades a las inscripción
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1298 fix(matriculaciones): protección de rutas
  core/tm/routes/profesional.ts
Labels: test ok

#1291 feat(VAC): rutas para certificado de vacunacion covid
  auth/auth.class.ts
  auth/auth.controller.ts
  core/tm/routes/profesional.ts
  modules/gestor-usuarios/usuarios.routes.ts
Labels: test ok

#1305 feat(script): validación de inscriptos
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
  scripts/validar-inscriptos.ts
Labels: script

#1295 VAC: script para actualizar estado de vacunación en inscripciones
  scripts/VAC-9.ts
Labels: script, test ok

#1288 feat(webhook): aplicas filtros por base de datos
  modules/webhook/webhook.schema.ts
  modules/webhook/webhook.ts
Labels: test ok

#1285 COM: Envío comprobante derivación por mail
  core/tm/interfaces/IOrganizacion.ts
  modules/centroOperativoMedico/controllers/com.controller.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test ok

#1306 HUDS: Búsqueda por pacientes vinculados
  modules/rup/routes/prestacion.ts
Labels: test ok

#1313 fix(VAC):control para elemento null en array de morbilidades
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1314 feat(codificacion): mejoras de performance
  modules/estadistica/pecas/controller/fueraDeAgenda.ts
  modules/rup/routes/codificacion.ts
  modules/rup/schemas/codificacion.ts
  package-lock.json
  package.json
  scripts/core-79.ts
Labels: script, test ok

#1312 COM: se elimina ruta /store de derivaciones
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test ok

#1318 fix(codificacion): validacion de tipoPrestacion
  core/tm/schemas/tipoPrestacion.ts
Labels: test ok

#1294 VAC: consulta de estado de inscripción para vacunación
  core/tm/schemas/grupo-poblacional.schema.ts
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1320 fix(validacion): agrega idTramite en validación por Sisa
  core-v2/mpi/validacion/validacion.controller.ts
  modules/vacunas/controller/inscripcion.vacunas.controller.ts
Labels: test ok

#1321 fix(profesionales): permite buscar por dni y profesion
  core/tm/routes/profesional.ts
Labels: test ok

#1299 Vac -Búsqueda por filtros para listado de inscriptos
  auth/permisos.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1317 feat(CITAS):Imprimir agenda
  modules/descargas/agenda/agenda-body.ts
  modules/descargas/agenda/agenda-header.ts
  modules/descargas/agenda/agenda.ts
  modules/descargas/routes/descargas.ts
  modules/turnos/controller/agenda.ts
  templates/agenda/agenda.scss
Labels: test ok
