Repository andes/api, pull requests merged in 2021-02, with the labels that each got.

#1251 PRIV-62: CDA al exportar HUDS
  jobs/manual.ts
  modules/cda/controller/CDAPatient.ts
  modules/cda/routes/cda.ts
  modules/huds/export-huds/exportHuds.controller.ts
Labels: test ok

#1250 TM: busca profesión por código
  core/tm/routes/profesion.ts
Labels: Aprobado, test ok

#1263 fix(mpi): controla error de tamaño de la foto
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/validacion/validacion.controller.ts
Labels: test ok

#1266 fix(mpi): control de contacto en notificación
  modules/webhook/webhook.routes.ts
Labels: test ok

#1271 fix(job): cambia frecuencia
  jobs/exportNexosSisa.ts
  jobs/jobExportNexosSisa.ts
Labels: test ok

#1269 CITAS - Fix solapamiento de turnos en agendas dinámicas
  modules/turnos/routes/turno.ts
Labels: test ok

#1265 feat(vacunas): Agregamos lote de vacunas
  modules/vacunas/index.ts
  modules/vacunas/nomivacLote.route.ts
  modules/vacunas/schemas/nomivacLote.schema.ts
Labels: Aprobado, test ok

#1262 feat(COM): incluye traslados especiales
  core/tm/routes/organizacion.ts
  core/tm/schemas/organizacion.ts
  initialize.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/index.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/centroOperativoMedico/schemas/tipoTraslado.schema.ts
  modules/centroOperativoMedico/tipoTraslado.routes.ts
  modules/descargas/com/derivacion-body.ts
Labels: test ok

#1219 INTERNACION - Agrega configPases al schema de la maquina de estados
  modules/rup/internacion/estados.schema.ts
Labels: test ok

#1268 TOP: permitir cargar solicitudes sin profesional origen
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1277 Refactor(RUP): informe-pdf se agrega implementación de VacunasComponent
  modules/descargas/informe-rup/elementos-rup/index.ts
  modules/descargas/informe-rup/elementos-rup/vacuna.component.ts
Labels: test ok

#1278 Refactor(RUP): informe-pdf se agrega implementación de CheckListComponent
  modules/descargas/informe-rup/elementos-rup/checklist.component.ts
  modules/descargas/informe-rup/elementos-rup/index.ts
Labels: test ok

#1256 feat(CITAS): se agrega permiso soloLectura
  auth/permisos.ts
  scripts/cit-103.ts
Labels: script, test ok

#1260 feat(COM): verifica organizacion destino en POST derivaciones
  core/tm/interfaces/IOrganizacion.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: changes done, test ok
