Repository andes/api, pull requests merged in 2021-09, with the labels that each got.

#1460 MAT - Inactiva profesionales duplicados
  core/tm/schemas/profesional.ts
  scripts/eliminarProfesionalesDuplicados.ts
Labels: script, test ok

#1379 MAT: antes de guardar un turno nuevo, verificar que no existe otro turno con mismo dia/horario
  modules/matriculaciones/routes/turno.ts
Labels: test ok

#1522 TM organizaciones: Agregar permiso global
  auth/auth.class.ts
  core/tm/routes/organizacion.ts
Labels: changes done, test fail

#1478 refactor(MAT-55): fecha de vencimiento de las especialidades
  core/tm/schemas/profesional.ts
Labels: test ok

#1532 VAC - Agrega nuevo estado de inscripción
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1503 MAT - Filtro por profesión
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
Labels: changes done, test ok

#1527 CORE: filtro solicitudes dashboard
  modules/rup/controllers/estadisticas.ts
Labels: test ok

#1523 EP: asignar seguimiento a profesional
  modules/seguimiento-paciente/schemas/seguimiento-paciente.schema.ts
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
Labels: test ok

#1512 MISC: filtrar c2 x organización
  modules/turnos/controller/diagnosticosC2Controller.ts
  modules/turnos/routes/agenda.ts
Labels: test ok

#1513 Epidemiología - Agregar el profesional que confirmo y el que hisopo en la ficha covid 19
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
Labels: test ok

#1542 VAC: nuevo campo enDomicilio para vacunas-paciente
  modules/vacunas/controller/vacunas.events.ts
  modules/vacunas/schemas/vacunas-pacientes.schema.ts
  scripts/VAC-104.ts
Labels: script, test ok

#1541 EP: filtrar seguimientos activos
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
Labels: test ok

#1515 EP: organización x defecto seguimiento
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1533 CIT - Fix solapamiento de agendas con varios profesionales
  modules/turnos/controller/agenda.ts
Labels: test ok

#1538 PDP - Guardar reporte de error
  core/log/routes/logPaciente.ts
  core/log/schemas/logPaciente.ts
Labels: test ok

#1544 CITAS - Fix error al liberar turno
  modules/turnos/controller/agenda.ts
Labels: test ok

#1510 feat(CIT): se agrega la propiedad link
  modules/turnos/routes/turno.ts
  modules/turnos/schemas/agenda.ts
  modules/turnos/schemas/turno.ts
Labels: test ok

#1528 IPS: primera versión
  config.private.ts.example
  modules/ips/controller/autenticacion.ts
  modules/ips/routes/ips.ts
Labels: test ok, config

#1549 VAC: arreglo de script para actualizar enDomicilio
  scripts/VAC-104.ts
Labels: script

#1545 BI: filtro de zona para reportes
  core/tm/controller/organizacion.ts
  modules/turnos/controller/diagnosticosC2Controller.ts
Labels: test ok

#1547 BI: limpieza código reportes
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: test ok

#1535 feat(mapa-camsa): se agrega permiso para ver registros
  auth/permisos.ts
  scripts/IN-323.ts
Labels: script, test ok

#1558 PER - 49: filtros por fechas de control
  core/tm/controller/profesional.ts
  modules/perinatal/carnet-perinatal.routes.ts
Labels: test ok

#1539 Epidemiología - Crear filtro en seguimientos para pacientes asignados
  modules/seguimiento-paciente/interfaces/seguimiento-paciente.interface.ts
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
Labels: test ok

#1550 MPI Fix - Georeferencia con cambio de localidad/provincia
  core-v2/mpi/paciente/paciente.events.ts
Labels: test ok

#1534 Epidemiología - Registrar alta y fallecimiento en seguimiento epidemiologico
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1543 fix(CIT-118): Error al mostrar datos de pacientes unificados
  modules/turnos/controller/historialCitasController/historialCitasController.ts
Labels: test ok

#1556 fix(Dashboards): Agrega al gráfico de tipos de turnos los que están sin clasificar
  modules/turnos/controller/estadisticas.ts
Labels: test ok
