Repository andes/api, pull requests merged in 2021-12, with the labels that each got.

#1624 EP: remove update SISA
  jobs/exportNexosFichaSisa.ts
  modules/forms/forms-epidemiologia/controller/forms-epidemiologia.controller.ts
Labels: test fail

#1608 AM: permitir registro de familiar con scan del dni
  modules/mobileApp/routes/paciente.ts
Labels: Aprobado, test ok

#1617 feat(IN): mostrar registro de diagnostico al ingreso
  modules/rup/internacion/resumen/internacion-resumen.hook.ts
  modules/rup/internacion/resumen/internacion-resumen.routes.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
Labels: test ok

#1618 PER: Actualizacion de fecha de inicio al cargar un control an…
  modules/perinatal/controller/carnet-perinatal.events.ts
Labels: test ok

#1627 Vacunas - Corregir proceso de migración a nomivac de vacunas covid
  core/log/schemas/logExportaInformacion.ts
  modules/vacunas/controller/vacunas.controller.ts
Labels: test ok

#1625 MISC - visualización de las matriculas de un profesional
  core/tm/routes/profesional.ts
Labels: test fail

#1628 fix(rup): descarga de Ecografías tira error 500
  modules/descargas/informe-rup/informe-rup.ts
  modules/descargas/informe-rup/utils/registro-to-html.ts
  modules/rup/controllers/elementos-rup.controller.ts
Labels: changes done, test fail

#1631 Vacunacion - Crear Script para agregar IdPrestacion a informacion exportada
  scripts/VAC-120.ts
Labels: script

#1622 feat(IN): se guarda en resumen paciente conceptos al egreso
  modules/rup/internacion/resumen/internacion-resumen.hook.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
Labels: Aprobado, test fail

#1593 TOP - Suspensión de turno dado a solicitud
  modules/rup/controllers/prestacion.ts
  modules/turnos/routes/agenda.ts
  modules/turnos/routes/turno.ts
Labels: test ok

#1633 Vacunas - Mejora del proceso de migración de vacunas a nomivac
  core/log/schemas/logExportaInformacion.ts
  modules/vacunas/controller/vacunas.controller.ts
Labels: test ok

#1592 chore(package): node 16
  .circleci/config.yml
  .github/workflows/build.yml
  modules/descargas/model/html-component.class.ts
  modules/descargas/model/html-component.test.ts
  package-lock.json
  package.json
Labels: test ok

#1517 MOBILE - Actualizaciones de datos en push
  modules/mobileApp/controller/NotificationService.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/turno.ts
Labels: test fail

#1595 MPI: nueva colección para cargar pacientes empadronados
  core-v2/mpi/index.ts
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/pacientes-empadronados/pacientes-empadronados.routes.ts
  core-v2/mpi/pacientes-empadronados/pacientes-empadronados.schema.ts
  modules/obraSocial/controller/puco.ts
  scripts/cargar-empadronados.ts
Labels: script

#1629 CITAS - Filtro por profesional en auditoría de fuera de agenda
  modules/rup/routes/codificacion.ts
Labels: test ok

#1623 CIT: permiso punto inicio dar sobreturno
  auth/permisos.ts
Labels: test fail

#1635 Vacunas - Modificar estado de vacuna en vacunasInformacionExportada al romper validación
  modules/vacunas/controller/vacunas.events.ts
Labels: Urgente, test fail
