Repository andes/api, pull requests merged in 2021-07, with the labels that each got.

#1451 feat(VAC):agrega llamados a schema e interface
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1457 feat(organizaciones): Agrega parametro showMapa
  core/tm/routes/organizacion.ts
Labels: test ok

#1436 EP: Seguimiento de Paciente
  config.private.ts.example
  initialize.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.events.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  modules/forms/forms-epidemiologia/forms-history.schema.ts
  modules/georeferencia/areaPrograma.schema.ts
  modules/georeferencia/controller/areasPrograma.ts
  modules/georeferencia/routes/georeferencia.ts
  modules/rup/routes/prestacion.ts
  modules/seguimiento-paciente/index.ts
  modules/seguimiento-paciente/interfaces/seguimiento-paciente.interface.ts
  modules/seguimiento-paciente/schemas/contacto-estrecho.schema.ts
  modules/seguimiento-paciente/schemas/seguimiento-paciente.schema.ts
  modules/seguimiento-paciente/seguimiento-paciente.interface.ts
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
  modules/seguimiento-paciente/seguimiento-paciente.schema.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
  utils/geoJson/geoSalud-layers.schema.ts
Labels: config, test ok

#1425 Mapa-camas - Días de estada en el listado
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/camas.routes.ts
  modules/rup/routes/prestacion.ts
  scripts/IN-287.ts
Labels: changes done, script, test ok

#1401 pacs: primera version
  auth/permisos.ts
  core/tm/index.ts
  core/tm/schemas/servicio-intermedio.schema.ts
  core/tm/servicio-intermedio.routes.ts
  initialize.ts
  modules/pacs/dicom/informe-encode.ts
  modules/pacs/dicom/paciente-encode.ts
  modules/pacs/dicom/prestacion-encode.ts
  modules/pacs/index.ts
  modules/pacs/pacs-config.controller.ts
  modules/pacs/pacs-config.schema.ts
  modules/pacs/pacs-network.ts
  modules/pacs/pacs.ts
  modules/rup/controllers/solicitudes.controller.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
  modules/top/controller/reglas.ts
  modules/top/routes/reglas.ts
  modules/top/schemas/reglas.ts
  modules/turnos/routes/agenda.ts
  package-lock.json
  package.json
Labels: has conflicts, test fail

#1461 feat(rup): romper validacion si tengo permisoss
  modules/rup/routes/prestacion.ts
Labels: test ok

#1462 EP: fix referencia de sisa en area programa
  modules/georeferencia/controller/areasPrograma.ts
Labels: test ok

#1459 Epidemiología: Búsqueda id pcr
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1434 feat(AM): Permitir acceder a turnos mediante reglas
  modules/mobileApp/routes/agendas.ts
  modules/turnos/condicionPaciente/condicionPaciente.controller.ts
  modules/turnos/condicionPaciente/condicionPaciente.routes.ts
  services.ts
Labels: test ok

#1464 EP: fix referencia geolocation
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1372 EP: patch de fields de ficha epidemiologica
  modules/forms/forms-epidemiologia/controller/forms-epidemiologia.controller.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1387 EP: Job importartor de LAMP
  jobs/index.ts
  jobs/jobLAMP.ts
  jobs/manual.ts
  jobs/scheduler.ts
  modules/forms/forms-epidemiologia/controller/forms-epidemiologia.controller.ts
  modules/forms/index.ts
  modules/webhook/webhook.ts
Labels: test ok

#1441 feat(ficha): Se agrega la búsqueda por clasificación
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1467 Profesional - Nuevo subesquema con datos basicos
  core/tm/schemas/profesional.ts
  modules/rup/schemas/prestacion.solicitud.historial.ts
Labels: changes done, test ok

#1440 Mapa-camas - Marcar una internación como censable aunque la cama no lo sea
  modules/rup/internacion/censo.controller.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.registro.ts
Labels: test ok

#1469 RUP - Guarda prestaciones modificadas y anuladas en nueva colección
  modules/rup/controllers/prestacion.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
Labels: test fail

#1465 TM - Cargar firma de profesional fuera de matriculaciones
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1481 fix(vacunas): error en localidades
  core/log/routes/log.ts
  modules/vacunas/controller/vacunas.events.ts
Labels: test ok

#1470 feat(VAC):inscripcion para extranjeros
  modules/vacunas/controller/inscripcion-vacunas.events.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1476 (MONIT-41): buscar usuario por email
  modules/mobileApp/pacienteApp.routes.ts
  modules/mobileApp/schemas/pacienteApp.ts
Labels: test ok

#1486 Seguimiento: Fix al guardar llamados
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: BugFix, test ok

#1448 Vacunación - Registrar fecha de próximo llamado
  modules/vacunas/inscripcion-vacunas.routes.ts
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1474 feat(PER-32): agregar nuevos filtros al modulo perinatal
  modules/perinatal/carnet-perinatal.routes.ts
Labels: changes requested, test ok

#1473 feat(VAC): agrega permiso especial para desasignar inscriptos
  auth/permisos.ts
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1466 PER: en job perinatal actualizacion fecha prox control embarazo
  jobs/perinatalFechaFinEmbarazo.ts
  utils/servicioSipPlus.ts
Labels: test ok

#1487 feat(vacunas): ajuste de proceso covid
  jobs/exportCovid19.ts
  jobs/jobExportVacunaCovid19.ts
  modules/vacunas/controller/vacunas.controller.ts
  modules/vacunas/controller/vacunas.events.ts
Labels: test ok

#1437 Envío de push notifications de RUP al adjuntar
  config.private.ts.example
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/mobileApp/controller/AuthController.ts
  modules/mobileApp/controller/NotificationService.ts
  modules/mobileApp/controller/PushClientFCM.ts
  modules/mobileApp/routes/devices.ts
  modules/mobileApp/schemas/device.ts
  package-lock.json
  package.json
  utils/roboSender/roboSchema.ts
  utils/roboSender/roboSender.ts
Labels: config, test ok

#1492 feat(vacunas). agrega area programa
  core/tm/areaProgramaProvincial.ts
  core/tm/schemas/areaProgramaProvincial.ts
  modules/vacunas/controller/vacunas.events.ts
  modules/vacunas/schemas/vacunas-pacientes.schema.ts
Labels: test ok

#1484 MPI - Fix actualización de georeferencia
  core-v2/mpi/paciente/paciente.events.ts
Labels: test ok

#1483 VAC - Script para migración de vacunas
  scripts/VAC-94.ts
Labels: script, test ok

#1494 feat(vacunas): no todas las localidades tienen area programa
  modules/vacunas/controller/vacunas.events.ts
Labels: test ok

#1495 fix: control push
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/mobileApp/controller/AuthController.ts
Labels: Urgente

#1496 Fix push turnos
  modules/mobileApp/controller/NotificationService.ts
Labels: test ok
