Repository andes/api, pull requests merged in 2021-11, with the labels that each got.

#1587 BI: permiso por zonas sanitarias
  auth/permisos.ts
Labels: test ok

#1598 EP: filtro sin clasificación final
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
Labels: test ok

#1600 EP: parametrización clasificación final
  jobs/exportNexosFichaSisa.ts
  modules/forms/forms-epidemiologia/constantes.ts
  modules/forms/forms-epidemiologia/controller/forms-epidemiologia.controller.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.events.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test fail

#1601 Obras sociales duplicadas
  core-v2/mpi/paciente/paciente.routes.ts
Labels: test ok

#1604 EP: eliminar ficha
  auth/permisos.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  package-lock.json
  package.json
  scripts/EP-167.ts
Labels: script, test fail

#1616 CITAS (Fix) - Se muestran prestaciones de registro de internación fuera de agendas en ventanilla citas
  modules/turnos/controller/historialCitasController/historialCitasController.ts
Labels: test ok

#1607 BI (Fix) - Filtra solicitudes pendientes con turno
  modules/rup/controllers/estadisticas.ts
Labels: test ok

#1563 rup: campos dinámicos para solicitudes
  modules/descargas/informe-rup/elementos-rup/solicitud-default.component.ts
  modules/top/schemas/reglas.ts
Labels: test ok

#1565 mapa-camas: plan de indicaciones
  core-v2/mpi/paciente/index.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core/tm/schemas/profesional.ts
  docker-compose.yml
  modules/pacs/pacs.ts
  modules/rup/index.ts
  modules/rup/internacion/estados.schema.ts
  modules/rup/internacion/index.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones-eventos.routes.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.hook.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.routes.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/schemas/elementoRUP.ts
  modules/rup/schemas/prestacion.registro.ts
  modules/rup/schemas/prestacion.ts
  package.json
Labels: test ok

#1612 TM: nuevo campo observaciones en profesional
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
Labels: test ok

#1580 Adjuntar y eliminar archivos relacionados con el profesional
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
  jobs/verificaMatriculasPosgrado.ts
  packages/drive/drive.ts
Labels: changes done, test ok

#1619 MAT: Error al cargar posgrado a profesional recién cargado
  core/tm/routes/profesional.ts
Labels: test fail

#1611 AM: registrar log en registros fallidos
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/mobileApp/registroMobile.log.ts
  modules/mobileApp/routes/paciente.ts
Labels: changes done, test ok

#1620 MAT: Análisis de rutas utilizadas
  modules/matriculaciones/routes/numeracionMatriculas.ts
  modules/matriculaciones/routes/turno.ts
Labels: test ok
