Repository andes/api, pull requests merged in 2021-06, with the labels that each got.

#1376 feat(mpi): Eventos de linkeo y deslinkeo y actualización de la información de pacientes en las prestaciones médicas
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/paciente/paciente.schema.ts
  modules/rup/controllers/prestacion.ts
  modules/rup/index.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1410 FORMS: restrict formBuilder visibility
  auth/permisos.ts
Labels: test ok

#1411 Localidades: field activo
  core/tm/routes/localidad.ts
  core/tm/schemas/localidad.ts
Labels: test ok

#1415 IN - Agrega fecha de ingreso en censo diario
  modules/descargas/informe-censo/censo-body.ts
  modules/rup/internacion/censo.controller.ts
Labels: test ok

#1395 INT - Agregar columna 'unidad organizativa'
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/internacion.controller.ts
  scripts/IN-274.ts
Labels: script, test ok

#1417 DESCARGAS - Recupero de costo (anexo 2)
  modules/descargas/recupero-costo/recupero-costo-body.ts
  modules/descargas/recupero-costo/recupero-costo.interface.ts
  modules/descargas/recupero-costo/recupero-costo.ts
  templates/recupero-costo/formulario.scss
Labels: test ok

#1418 fix(inscripcion): quita excepción para mayores de 60
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1423 feat(core): graceful shutdown
  index.ts
Labels: test ok

#1422 fix(cda): crear cda a extranjeros
  modules/cda/controller/CDAPatient.ts
Labels: test ok

#1391 VAC: poder desvincular paciente en el patch de inscripciones
  modules/vacunas/inscripcion-vacunas.routes.ts
Labels: test ok

#1416 feat(descargas): Agrega get para descarga de prestaciones
  modules/descargas/routes/descargas.ts
  modules/mobileApp/schemas/categoria.ts
  modules/rup/controllers/rup.ts
  modules/rup/routes/prestacion.ts
Labels: test ok

#1413 feat(com): Posibilidad de asociar dispospositivos de oxigeno a la derivación
  initialize.ts
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/descargas/com/derivacion-body.ts
  modules/dispositivo/dispositivo.routes.ts
  modules/dispositivo/dispositivo.schema.ts
  modules/dispositivo/index.ts
Labels: test ok

#1414 Perinatal: se crea job para actualizar fecha fin de embarazo
  config.private.ts.example
  jobs/perinatalFechaFinEmbarazo.ts
  jobs/perinatalUpdateJob.ts
  modules/perinatal/perinatal.log.ts
  modules/perinatal/schemas/carnet-perinatal.schema.ts
  utils/servicioSipPlus.ts
Labels: test ok

#1428 COM: filtro esCOM false
  core/tm/routes/organizacion.ts
Labels: test ok

#1427 rup: conceptos requeridos dinámicos
  modules/rup/controllers/prestacion.ts
  modules/rup/dinamic-context.controller.ts
  modules/rup/elementos-rup.controller.ts
  modules/rup/index.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/elementos-rup-requeridos.schema.ts
  package-lock.json
  package.json
  services.ts
Labels: test ok

#1433 feat(rup): nueva configuracion servidor de email
  .github/labeler.yml
  config.private.ts.example
  core/tm/routes/profesional.ts
  index.ts
  initialize.ts
  jobs/manual.ts
  modules/cda/controller/CDAPatient.ts
  modules/centroOperativoMedico/controllers/com.controller.ts
  modules/descargas/routes/descargas.ts
  modules/mobileApp/auth_routes/autenticacionApp.ts
  modules/sugerencias/routes/sugerencias.ts
  package-lock.json
  package.json
  services.ts
  utils/roboSender/roboSender.ts
  utils/roboSender/sendEmail.ts
Labels: config, test ok

#1439 chore(package): update librerias
  package-lock.json
  package.json
Labels: test ok

#1438 feat(COM): Se le agrega color naranja para identificar gravedades intermedias
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1394 MPI: se suma lugarNacimiento a schema de paciente
  core-v2/mpi/paciente/paciente.schema.ts
Labels: test ok

#1432 fix(matriculaciones): verifica profesional duplicado al cargar un turno
  modules/matriculaciones/routes/turnoSolicitado.ts
Labels: test ok

#1446 fix(tm): Se agrega control en la función getZona
  core/tm/controller/localidad.ts
  modules/webhook/webhook.routes.ts
Labels: BugFix

#1444 fix(huds): quita mapeo a objetos de prestaciones
  modules/rup/controllers/prestacion.ts
Labels: test ok

#1409 IN - Anular internación con varios movimientos
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/internacion.controller.test.ts
  modules/rup/internacion/internacion.controller.ts
  modules/rup/internacion/internacion.routes.ts
Labels: changes done, test ok

#1445 MISC: logs laboratorio central
  modules/webhook/logger/laboratorioCentralLog.ts
  modules/webhook/webhook.routes.ts
Labels: test ok

#1426 feat(rup): permisos especiales para validar otras prestaciones
  auth/permisos.ts
  modules/descargas/informe-rup/informe-body.ts
  modules/descargas/informe-rup/informe-firma.ts
Labels: test ok

#1449 fix(VAC):sacar dos precauciones de la inscripción de vacunación
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
Labels: test ok

#1419 refactor(VAC): Modificacion del id de la vacuna
  modules/vacunas/schemas/nomivacLote.schema.ts
Labels: test ok

#1455 fix(top): indices
  modules/rup/routes/prestacion.ts
Labels: test ok
