Repository andes/api, pull requests merged in 2021-01, with the labels that each got.

#1216 TM: rutas adjuntar titulo profesional
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
  core/tm/schemas/profesional.ts
Labels: changes done, test ok

#1242 COM: sumar prioridad a DerivacionHistorialSchema
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
Labels: test ok

#1243 COM: nueva ruta para actualizar historial
  modules/centroOperativoMedico/derivaciones.routes.ts
Labels: test ok

#1231 MPI - Actualiza job 'updateValidados'
  core-v2/mpi/validacion/validacion.controller.ts
  core-v2/mpi/validacion/validacion.routes.ts
  core/mpi/controller/updateValidados.ts
Labels: test ok

#1241 feat(vacuna): Agregamos las credenciales en el header en lugar de enviarlas en el body
  config.private.ts.example
  jobs/exportCovid19.ts
Labels: test ok

#1240 fix(TM): fix error en sincro organizacion con sisa
  core/tm/routes/organizacion.ts
Labels: test ok

#1068 MISC: busqueda de estadoFacturacion cambia codificaciones por prestaciones.
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: Aprobado

#1196 MPI - Tokens de paciente para búsqueda
  core-v2/mpi/index.ts
  core-v2/mpi/paciente/index.ts
  core-v2/mpi/paciente/paciente.schema.ts
  core/mpi/controller/paciente.ts
  core/mpi/schemas/paciente.ts
  modules/mobileApp/routes/turnos.ts
  scripts/updateToken.ts
Labels: script, test ok

#1245 fix(drive): ajustes file adapter
  packages/drive/adapters/FileAdapter.ts
Labels: test ok

#1215 Guardia: primeros pasos
  auth/permisos.ts
  modules/rup/index.ts
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/camas.routes.ts
  modules/rup/internacion/estados.schema.ts
  modules/rup/internacion/index.ts
  modules/rup/internacion/resumen/internacion-resumen.hook.ts
  modules/rup/internacion/resumen/internacion-resumen.routes.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
  modules/rup/internacion/sala-comun/sala-comun-snapshot.ts
  modules/rup/internacion/sala-comun/sala-comun.controller.ts
  modules/rup/routes/prestacion.ts
  modules/turnero/routes/configuracionPantalla.ts
Labels: test ok

#1244 MPI: se agregan controles varios
  core-v2/mpi/validacion/validacion.controller.ts
  core/mpi/controller/updateValidados.ts
Labels: test ok

#1200 feat(JOB): Exportación a sisa de casos covid
  config.private.ts.example
  core/log/schemas/logExportaInformacion.ts
  jobs/exportNexosSisa.ts
  jobs/jobExportNexosSisa.ts
Labels: test ok

#1249 fix(rup): adjuntos desde andes drive
  modules/descargas/informe-rup/elementos-rup/adjuntar-documento.component.ts
  modules/descargas/routes/descargas.ts
  modules/rup/controllers/rup.ts
Labels: test ok

#1246 fix(exportCovid): se modifica la fecha para que toma la de la creció del registro y no de la solicitud para evitar gaps
  jobs/exportCovid19.ts
Labels: test ok

#1252 mapa-camas: historial movimientos capa medica
  modules/rup/internacion/estados.schema.ts
  modules/rup/internacion/resumen/internacion-resumen.routes.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
Labels: test ok

#1220 MPI - Actualiza funciones y rutas
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.routes.ts
  core-v2/mpi/paciente/paciente.schema.ts
Labels: test ok

#1261 fix(mpi): cambia permisos de get
  core-v2/mpi/paciente/paciente.routes.ts
  core-v2/mpi/paciente/paciente.schema.ts
Labels: test ok
