Repository andes/api, pull requests merged in 2022-04, with the labels that each got.

#1686 Fuentes-autenticas: se actualiza fuentes autenticas
  package-lock.json
  package.json
Labels: test ok

#1674 MPI: atributos fechaNacimiento y activo en las relaciones de un paciente
  core-v2/mpi/jobs/updateRelacionesPacientes.ts
  core-v2/mpi/jobs/updateRelacionesPacientesJob.ts
  core-v2/mpi/mpi.log.ts
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.interface.ts
  core-v2/mpi/paciente/paciente.schema.ts
Labels: test ok

#1660 IN - Descarga de censos en csv
  modules/rup/internacion/censo.routes.ts
Labels: changes done, test ok

#1666 EP - Permitir descarga de un csv con reporte de seguimientos
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
Labels: test fail

#1687 Profesional - Param email
  core/tm/routes/profesional.ts
Labels: test ok

#1690 MISC: en buscador ordenar descargas
  modules/huds/export-huds/exportHuds.routes.ts
Labels: test ok

#1695 Epidemiología - Select static para ficha covid 19
  modules/forms/forms.schema.ts
Labels: test ok

#1696 IN - secciones vacias dentro del pdf de evaluacion inicial
  modules/descargas/informe-rup/informe-body.ts
Labels: test ok

#1693 MPI - Relaciones de un paciente
  core-v2/mpi/paciente/paciente.events.ts
Labels: test ok

#1694 IN - Censos - Descarga PDF CSV
  modules/descargas/informe-censo/censo-mensual-body.ts
  modules/descargas/informe-censo/censo-mensual-header.ts
  modules/descargas/informe-censo/informe-censo.ts
  modules/descargas/routes/descargas.ts
Labels: test ok
