Repository andes/api, pull requests merged in 2022-01, with the labels that each got.

#1588 MAT - Filtros para renovación de matrículas
  core/tm/routes/profesional.ts
  modules/matriculaciones/routes/turno.ts
  modules/matriculaciones/schemas/turno.ts
  modules/matriculaciones/schemas/turnoSolicitado.ts
Labels: changes done, test ok

#1637 RUP - Guardar idProfesional en la coleccion codificacion
  modules/rup/routes/codificacion.ts
  modules/rup/schemas/codificacion.ts
Labels: test fail

#1530 RUP: turno Multipretacion
  core/tm/schemas/tipoPrestacion.ts
  modules/rup/routes/prestacion.ts
  modules/turnos/controller/agenda.ts
Labels: test ok

#1555 refactor(MAT-71): verificación de vencimiento de formación de grado
  core/tm/controller/profesional.ts
Labels: test ok

#1634 BI - Agregar id del profesional a la colección codificación
  modules/rup/schemas/codificacion.ts
  scripts/BI-112.ts
Labels: script, test fail

#1597 refactor(IN): Desacoplar ámbito de las queries
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/camas.controller.ts
Labels: test ok

#1643 CIT: actualizar updatedAt agenda
  modules/turnos/routes/turno.ts
Labels: test ok

#1615 IN - Registro de uso de respirador en colección internacionPacienteResumen
  modules/rup/internacion/cama-estados.controller.ts
  modules/rup/internacion/resumen/internacion-resumen.hook.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
  modules/rup/routes/prestacion.ts
Labels: changes done, test ok

#1644 CIT: audit created agendda clonada
  modules/turnos/routes/agenda.ts
Labels: test ok

#1645 EP: ignorar seguimiento en apertura ficha
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1630 RUP (Fix) - Poder editar valor de edad gestacional
  modules/descargas/informe-rup/elementos-rup/formula-base.component.ts
  modules/rup/schemas/prestacion.registro.ts
Labels: changes done, test ok

#1636 feat(IN): nueva capa interconsultores
  auth/permisos.ts
  core/tm/conceptos-turneables.routes.ts
  core/tm/schemas/tipoPrestacion.ts
Labels: test ok

#1649 Epidemiología - Mostrar en la ficha el estado de vacunacion del paciente
  modules/vacunas/index.ts
  modules/vacunas/routes/vacunas-pacientes.routes.ts
Labels: test ok

#1641 BI: profesional validador turno
  modules/rup/routes/prestacion.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/schemas/turno.ts
Labels: test ok

#1571 PDP - Demanda insastifecha
  modules/turnos/schemas/listaEspera.ts
Labels: test ok

#1632 PER - Visualización de datos en carnet-perinatal
  modules/perinatal/controller/carnet-perinatal.events.ts
Labels: test ok

#1647 EP: bloquear ultimo estado fallecido
  modules/seguimiento-paciente/seguimiento-paciente.route.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: test ok

#1650 Facturacion: se agrega facturacion prepagas y OS desde buscador de turnos
  modules/facturacionAutomatica/routes/configFacturacionAutomatica.ts
Labels: test ok

#1640 BI: incluir profesional en turno de agenda
  scripts/BI-115.ts
Labels: script
