Repository andes/api, pull requests merged in 2022-02, with the labels that each got.

#1646 CIT - verificar solapamiento al clonar agendas
  .eslintrc.js
  core/tm/routes/especialidad.ts
  core/tm/routes/profesional.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: test ok

#1651 CIT - Descarga del csv del listado en turnos y prestaciones
  modules/estadistica/controller/turnos_prestacionesController.ts
  modules/estadistica/routes/turnos_prestaciones.ts
Labels: changes done, test ok

#1653 Epidemiología - Agregar dispatch al hallazgo Paciente Internado
  modules/seguimiento-paciente/interfaces/seguimiento-paciente.interface.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
  modules/vacunas/controller/vacunas.controller.ts
Labels: test ok

#1652 Epidemiologia - Pantalla de consulta para certificados de aislamiento
  config.ts
  modules/validar-certificado/routes/validar-certificado.ts
Labels: test ok

#1656 Epidemiología - Agregar conceptos a la validacion de certificados
  modules/validar-certificado/routes/validar-certificado.ts
Labels: test ok

#1661 Seguimiento - Modificar control en epidemiologia:prestaciones:validate (primer seguimiento)
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
Labels: Urgente, test ok

#1626 CIT: queries en prestación de agenda
  auth/permisos.ts
  core/tm/schemas/tipoPrestacion.ts
Labels: test ok

#1663 chore(package): typescript 4
  modules/cda/controller/CDAPatient.ts
  modules/huds/export-huds/exportHuds.controller.ts
  modules/mobileApp/controller/RecordatorioController.ts
  modules/mobileApp/routes/turnos.ts
  package-lock.json
  package.json
  utils/roboSender/index.ts
Labels: test ok

#1654 fix(GDU): se redefine post para evitar crear duplicados
  core-v2/mpi/paciente/paciente.routes.ts
  modules/gestor-usuarios/usuarios.routes.ts
Labels: changes done, test ok

#1655 TOP - Agenda suspendida
  modules/rup/controllers/prestacion.ts
  modules/rup/schemas/prestacion.solicitud.historial.ts
  modules/turnos/routes/turno.ts
Labels: changes done, test ok

#1667 Georeferencia: corrige error al georeferenciar
  core-v2/mpi/paciente/paciente.controller.ts
Labels: test ok
