Repository andes/api, pull requests merged in 2022-09, with the labels that each got.

#1747 INT: Se cambia filtros en el GET de prestaciones de internacion
  modules/rup/internacion/internacion.controller.ts
Labels: test fail, publicar

#1757 FIX(CITAS): Agregar filtros en reasignación de turno
  modules/turnos/routes/turno.ts
Labels: test ok

#1726 TM - ABM para configuración de internación
  core/tm/routes/organizacion.ts
  core/tm/schemas/organizacion.ts
Labels: test ok, publicar

#1761 fix(MPI): Se quita acceso a foto del paciente
  core-v2/mpi/paciente/paciente.routes.ts
Labels: test fail

#1762 fix(MPI): Cambia el control de parámetros para búsqueda de pacientes
  core-v2/mpi/paciente/paciente.routes.ts
Labels: test fail
