Repository andes/api, pull requests merged in 2023-05, with the labels that each got.

#1783 IN - balance hidrico en el plan de indicaciones
  modules/rup/internacion/estados.schema.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.hook.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
Labels: Aprobado, test ok

#1792 RUP - Agrear permiso para abm de plantillas
  auth/permisos.ts
Labels: test ok

#1790 MAT - Script p/actualizar especialidades de Profesionales
  scripts/MAT-134.ts
Labels: changes done, script, test ok

#1719 feat(HUDS): Agregar filtro de descargas pendientes
  modules/huds/export-huds/exportHuds.routes.ts
Labels: Aprobado, test ok

#1752 HUDS - Fecha de registros medicos no coinciden
  modules/descargas/informe-rup/informe-body.ts
Labels: Aprobado, test ok

#1715 MISC - Agregar alias y documento extranjero a datos de paciente
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.schema.ts
  modules/centroOperativoMedico/schemas/derivaciones.schema.ts
  modules/descargas/informe-censo/censo-body.ts
  modules/descargas/informe-rup/informe-header.ts
  modules/perinatal/schemas/carnet-perinatal.schema.ts
  modules/prestamosCarpetas/schemas/prestamo.ts
  modules/rup/internacion/cama-estados.schema.ts
  modules/rup/internacion/censo.routes.ts
  modules/rup/internacion/internacion.controller.test.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
  modules/rup/internacion/sala-comun/sala-comun-movimientos.schema.ts
  modules/rup/internacion/sala-comun/sala-comun.schema.ts
  modules/rup/internacion/test-utils/index.ts
  modules/rup/schemas/prestacion.ts
  modules/seguimiento-paciente/interfaces/seguimiento-paciente.interface.ts
  modules/seguimiento-paciente/schemas/seguimiento-paciente.schema.ts
  modules/seguimiento-paciente/seguimiento-pacientes.events.ts
  modules/turnos/schemas/listaEspera.ts
  modules/turnos/schemas/turno.ts
  modules/vacunas/interfaces/inscripcion-vacunas.interface.ts
  modules/vacunas/schemas/inscripcion-vacunas.schema.ts
  modules/vacunas/schemas/vacunas-pacientes.schema.ts
Labels: test ok

#1797 IN - se agrega nuevo permiso al plan de indicaciones
  auth/permisos.ts
Labels: test ok, publicar

#1803 fix(CITAS): agrega codificación en evento de validar prestación
  modules/turnos/controller/agenda.ts
Labels: Aprobado, test ok

#1785 TOP - Seguimiento de llamados telefonicos a pacientes
  modules/rup/controllers/prestacion.ts
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.solicitud.historial.ts
Labels: Aprobado, test ok
