Repository andes/api, pull requests merged in 2023-10, with the labels that each got.

#1821 MPI: Identidad autopercibida
  modules/centroOperativoMedico/derivaciones.routes.ts
  modules/descargas/agenda/agenda-body.ts
  modules/descargas/informe-rup/informe-header.ts
  modules/estadistica/controller/procesarAgendas.ts
  modules/perinatal/carnet-perinatal.routes.ts
  modules/rup/routes/prestacion.ts
Labels: Aprobado, test ok, prioritario

#1810 MISC - Control de fechas para cache de robosender
  modules/huds/export-huds/exportHuds.controller.ts
  modules/huds/export-huds/exportHuds.schema.ts
  utils/roboSender/index.ts
  utils/roboSender/roboSchema.ts
  utils/roboSender/roboSender.ts
Labels: Aprobado, test ok

#1786 PERINATAL - No se actualiza la fecha de próximo control
  modules/perinatal/controller/carnet-perinatal.events.ts
Labels: Aprobado, test ok, prioritario

#1742 MAT - Agregar campo created en BD
  modules/matriculaciones/routes/turnoSolicitado.ts
  modules/matriculaciones/schemas/turnoSolicitado.ts
Labels: Aprobado, test ok, prioritario

#1840 TOP: agrega control en búsqueda por paciente
  modules/rup/routes/prestacion.ts
Labels: test ok

#1741 CIT - Control de permisos de prestaciones en profesionales
  auth/auth.controller.ts
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
  modules/turnos/routes/agenda.ts
Labels: Aprobado, test ok

#1822 MAT - script de profesionales duplicados
  scripts/eliminarProfesionalesDuplicados.ts
Labels: script, test ok, prioritario

#1831 TABLAS MAESTRAS - Nuevo filtro tm/profesional
  core/tm/routes/profesional.ts
Labels: test ok

#1834 HUDS - Agrega filtro de CDAs al exportar HUDS
  modules/huds/export-huds/exportHuds.controller.ts
  modules/huds/export-huds/exportHuds.schema.ts
  utils/roboSender/index.ts
Labels: changes requested
