Repository andes/api, pull requests merged in 2023-08, with the labels that each got.

#1733 TOP - Error solicitud anulada con turno dado
  modules/rup/routes/prestacion.ts
Labels: test ok, publicar

#1826 fix(AUTH): Cierra la conexion al server ldap
  auth/ldap.controller.ts
Labels: test fail

#1749 PER-75 - Actualizar job perinatal
  jobs/perinatalFechaFinEmbarazo.ts
Labels: changes done, test ok, publicar

#1794 MAT: Agregar condiciones para filtrar renovacion online
  core/tm/routes/profesional.ts
Labels: changes done, test ok

#1825 (FEAT) PACS - Cancelar orden de trabajo
  modules/pacs/pacs-network.ts
  modules/pacs/pacs.ts
  modules/rup/routes/prestacion.ts
Labels: test ok

#1814 MAT - Filtros en guía profesional
  core/tm/routes/profesional.ts
Labels: changes done, test ok, prioritario

#1829 PACS: se corrige error en url al cambiar estado
  modules/pacs/pacs-network.ts
Labels: test fail
