Repository andes/api, pull requests merged in 2023-03, with the labels that each got.

#1736 IN: permisos plan indicaciones
  auth/permisos.ts
Labels: Aprobado, test ok, publicar

#1772 Plan de indicaciones - Control de hs (frecuencia) para ejecución de una indicación
  modules/rup/internacion/plan-indicaciones/plan-indicaciones-eventos.routes.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.hook.ts
Labels: test ok

#1778 GDU- Agregar atributo lastLogin por efector
  auth/auth.controller.ts
  auth/routes/routes.ts
  auth/schemas/authUsers.ts
Labels: test ok

#1788 MAT - Agregar rechazo de una renovacion online
  core/tm/schemas/profesional.ts
Labels: changes done, test ok

#1791 fix(CDA): se corrige error al generar CDA de paciente con sexo otro
  modules/cda/controller/CDAPatient.ts
Labels: test ok
