Repository andes/api, pull requests merged in 2023-11, with the labels that each got.

#1818 PRIV - Restricción por efector
  auth/permisos.ts
  modules/cda/controller/CDAPatient.ts
  modules/cda/routes/cda.ts
  modules/rup/routes/prestacion.ts
Labels: revisar, test ok, publicar

#1815 HUDS - Cargar/obtener motivos de accesos desde la HUDS
  initialize.ts
  modules/huds/motivosHuds/index.ts
  modules/huds/motivosHuds/motivosHuds.routes.ts
  modules/huds/motivosHuds/motivosHuds.schema.ts
Labels: test ok, publicar

#1828 TOP - Solicitudes: Nuevo estado vencido / Job estado vencido
  jobs/vencimientoPrestacion.ts
  modules/rup/controllers/prestacion.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/schemas/prestacion.estado.ts
Labels: changes done, test ok

#1842 MAT - Script para corregir entidadFormadora
  scripts/MAT-152.ts
Labels: changes done, script

#1849 CDA: corrige respuesta de error al crear un CDA
  modules/cda/routes/cda.ts
Labels: test ok

#1841 IN - Agrega audit para updatedAt y createdBy en internaciones
  modules/rup/internacion/resumen/internacion-resumen.schema.ts
Labels: test ok

#1823 (FIX) CIT - Agregar control para pasar turnos liberados segun corresponda
  modules/turnos/controller/agenda.ts
Labels: test ok

#1827 MAT - Corrige domicilios y matricula suspendida de profesional
  scripts/fix-domicilio-profesional.ts
Labels: script

#1848 TYP - Error en buscador con filtros de pacientes
  modules/estadistica/controller/procesarAgendas.ts
Labels: test ok

#1837 INT - Agregar logs en api
  modules/rup/internacion/camas.controller.test.ts
  modules/rup/internacion/camas.controller.ts
  modules/rup/internacion/camas.routes.ts
  modules/rup/internacion/estados.schema.ts
  modules/rup/internacion/internacion.log.ts
  packages/unit-testing/index.ts
Labels: changes requested, test ok

#1854 MPI: control en array de relaciones
  core-v2/mpi/paciente/paciente.events.ts
Labels: test ok
