Repository andes/api, pull requests merged in 2024-07, with the labels that each got.

#1917 MOBILE: actualiza permisos ruta CDA de un paciente
  modules/cda/routes/cda.ts
Labels: test ok

#1906 HUDS - Implementa filtro para estado de indicaciones
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.routes.ts
Labels: Aprobado

#1883 IN - Reporte indicaciones de medicamentos
  modules/rup/internacion/internacion.routes.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.routes.ts
Labels: changes done, test ok

#1918 PRIV - Visualizar motivos de acceso a la HUDS
  modules/huds/motivosHuds/motivosHuds.routes.ts
  modules/huds/motivosHuds/motivosHuds.schema.ts
Labels: test ok

#1915 GDU - Controlar datos del profesional asociado al usuario
  core/tm/routes/profesional.ts
Labels: Aprobado, test ok
