Repository andes/api, pull requests merged in 2024-02, with the labels that each got.

#1857 TYP - Listado de prestaciones no nominalizadas
  modules/estadistica/controller/procesarAgendas.ts
  modules/estadistica/controller/procesarFueraDeAgenda.ts
  modules/estadistica/controller/turnos_prestacionesController.ts
Labels: test ok

#1833 TOP: Continuidad a solicitud contrarreferida
  modules/rup/routes/prestacion.ts
Labels: test ok

#1787 MPI: Condición trimestral para devolución de obra social de un paciente
  modules/obraSocial/controller/puco.ts
Labels: Aprobado, test ok

#1835 TYP - Mejorar condiciones
  modules/facturacionAutomatica/controller/facturacionAutomaticaController.ts
Labels: Aprobado, test ok

#1872 fix(EPI): Agrega campo descripción
  modules/forms/forms.schema.ts
Labels: test ok

#1789 GDU - Revisar Job para inactivar usuarios
  core/tm/controller/authUser.ts
Labels: test ok, prioritario
