Repository andes/api, pull requests merged in 2024-06, with the labels that each got.

#1901 PRIV - Agregar campo observación en motivos
  modules/huds/hudsAccesos.controller.ts
  modules/huds/hudsAccesos.routes.ts
  modules/huds/hudsAccesos.schema.ts
  modules/huds/hudsAccesos.ts
Labels: changes done, test ok

#1887 AM - Corregir matching profesional
  core/tm/routes/profesional.ts
Labels: publicar, appMobile

#1863 HUDS - Agregar fecha de creación de la consulta en PDF
  modules/descargas/informe-rup/informe-body.ts
Labels: test ok, publicar

#1893 (FEAT) Demanda Insatisfecha: pasar funcionalidad a API
  modules/turnos/routes/listaEspera.ts
  modules/turnos/schemas/listaEspera.ts
Labels: changes done

#1903 CIT - Edición de profesional en agenda
  modules/turnos/routes/agenda.ts
Labels: Aprobado

#1895 AM - Evitar errores por asignación simultáneas de turnos virtuales
  modules/turnos/routes/turno.ts
Labels: changes done, test ok, publicar, appMobile

#1864 MISC - API agregar índices a mongo
  core-v2/mpi/paciente/paciente.schema.ts
  modules/rup/internacion/censos.schema.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok, publicar

#1890 (FEAT) Script para asociar turnos dados c/Demanda Insatisfecha
  jobs/demanda-insatisfecha-corregir.ts
  modules/turnos/citasLog.ts
  modules/turnos/schemas/listaEspera.ts
Labels: script, publicar
