Repository andes/api, pull requests merged in 2024-11, with the labels that each got.

#1968 AM - Nuevo Turno: Se visualiza prestación cuando no hay turno…
  modules/turnos/routes/turno.ts
Labels: Aprobado, appMobile

#1916 MPI: Controles al actualizar pacientes
  core-v2/mpi/paciente/paciente.events.ts
  core-v2/mpi/paciente/paciente.routes.ts
Labels: test ok

#1982 EP - Registro de id_caso al dar de alta una ficha
  jobs/exportNexosFichaSisa.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia-schema.ts
  modules/forms/forms-epidemiologia/forms-epidemiologia.routes.ts
  modules/forms/forms.schema.ts
Labels: changes done

#1967 CIT- Notificación log whatsapp
  jobs/recordatorioTurnos.ts
  modules/turnos/citasLog.ts
  modules/turnos/controller/turnosController.ts
Labels: Aprobado

#1993 TOP - Agrega filtros para diagnósticos asociados
  modules/rup/routes/prestacion.ts
Labels: Aprobado
