Repository andes/api, pull requests merged in 2024-08, with the labels that each got.

#1898 CIT - Implementa casos de demanda insatisfecha
  modules/turnos/routes/listaEspera.ts
  modules/turnos/schemas/listaEspera.ts
Labels: test ok

#1919 IN - Censo diario: error datos de cama y paciente de internacion duplicada
  modules/rup/internacion/censo.controller.ts
  modules/rup/internacion/censo.routes.ts
Labels: test ok

#1804 Feat-Script p/corregir prestaciones no codificadas
  jobs/CIT-219.ts
Labels: Aprobado, script, test ok

#1922 INT - Plan indicaciones: creacion de eventos innecesarios
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.hook.ts
Labels: test ok

#1885 MAT - Implementar mockup guia profesional
  core/tm/routes/profesional.ts
Labels: changes done, test ok

#1924 HUDS - Error al exportar la HUDS
  modules/descargas/informe-rup/elementos-rup/index.ts
  modules/descargas/informe-rup/elementos-rup/odontograma.component.ts
  modules/huds/export-huds/exportHuds.routes.ts
Labels: Aprobado, test ok

#1937 CIT - Cerrar demanda insatisfecha
  modules/turnos/routes/listaEspera.ts
Labels: changes done

#1930 MAT - Actualizar Entidades Formadoras (SISA)
  modules/matriculaciones/csv/entidadesFormadoras.csv
  modules/matriculaciones/schemas/entidadFormadora.ts
  scripts/act-entidad-formadora.ts
Labels: script

#1926 TM - API para ABM de Farmacias
  core/tm/farmacia.routes.ts
  core/tm/index.ts
  core/tm/interfaces/IFarmacia.ts
  core/tm/schemas/farmacia.ts
Labels: changes done, test ok

#1941 CITAS: Logs en job que actualiza turnos y agendas
  config.ts
  modules/turnos/citasLog.ts
  modules/turnos/controller/agenda.ts
Labels: test ok

#1943 (CIT) Script (Job) Recordatorio Turnos
  scripts/recordatorioTurnos.ts
Labels: script
