Repository andes/api, pull requests merged in 2024-05, with the labels that each got.

#1869 AM - Configuración distancia de turnos
  modules/constantes/constantes.schema.ts
  modules/mobileApp/routes/agendas.ts
  modules/turnos/condicionPaciente/condicionPaciente.controller.ts
Labels: test fail

#1819 CIT - Agregar filtro buscar a los parametros ingresados
  modules/top/routes/reglas.ts
Labels: Aprobado, test ok

#1846 IN: Plan de indicaciones - motivo de rechazo
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
Labels: test ok

#1899 HUDS - Exportacion de HUDS
  modules/cda/controller/CDAPatient.ts
  modules/cda/routes/cda.ts
  modules/descargas/informe-cda/informe-body-cda.ts
  modules/descargas/informe-cda/informe-cda.ts
  modules/descargas/informe-cda/informe-footer-cda.ts
  modules/descargas/informe-cda/informe-header-cda.ts
  modules/huds/export-huds/exportHuds.controller.ts
Labels: test ok

#1902 CITAS: cambia url feriados en actualizarAgendasJobs
  config.private.ts.example
  modules/turnos/controller/agenda.ts
Labels: test ok, config

#1882 RUP - Unificar rutas Elementos RUP
  modules/rup/routes/elementosRUP.ts
Labels: Aprobado, test ok

#1795 RUP - Error en Adjuntos RUP
  modules/mobileApp/auth_routes/rup-adjuntos.ts
  modules/mobileApp/controller/NotificationService.ts
Labels: changes done
