Repository andes/api, pull requests merged in 2024-10, with the labels that each got.

#1966 GDU - Agregar auditoría en permisos por organización
  auth/schemas/authUsers.ts
  auth/schemas/permisos-organizaciones.ts
Labels: Aprobado

#1961 CIT - Mejoras visuales en notificaciones de turnos
  modules/turnos/controller/agenda.ts
  modules/turnos/controller/turnosController.ts
Labels: changes done

#1960 CIT - Modifica recuperacion de pacientes en lista de espera
  modules/turnos/routes/listaEspera.ts
  modules/turnos/schemas/listaEspera.ts
Labels: Aprobado

#1889 CIT - Error al clonar agendas
  modules/turnos/controller/agenda.ts
Labels: test ok, publicar

#1949 TM - Nuevo modulo de farmacias
  auth/permisos.ts
Labels: Aprobado

#1956 RUP - Script (Job) Encuesta Satisfacción.
  config.private.ts.example
  jobs/encuestaSatisfaccion.ts
  modules/turnos/citasLog.ts
Labels: script, config
