Repository andes/api, pull requests merged in 2024-09, with the labels that each got.

#1950 AM - Nuevas rutas efectores Region Araucanía (Chile)
  core/tm/areaAraucania.routes.ts
  core/tm/index.ts
  core/tm/schemas/areaAraucania.ts
  scripts/importar-efectores-araucania.ts
  scripts/importar-entidades-formadoras.ts
Labels: changes done, script

#1870 CORE - ResourceBase: consulta periodos de fechas en array
  modules/perinatal/carnet-perinatal.routes.ts
Labels: Aprobado, test fail

#1807 MPI - Agrega detalles al esquema de pacientes
  core-v2/mpi/financiador/financiador.interface.ts
  core-v2/mpi/financiador/financiador.schema.ts
  core-v2/mpi/paciente/paciente.controller.ts
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/turno.ts
Labels: changes done, test ok, publicar, prioritario
