Repository andes/api, pull requests merged in 2024-01, with the labels that each got.

#1860 CITAS: Script corrige OS en turnos de pacientes
  scripts/corregir_os_prestaciones.ts
  scripts/corregir_os_turnos.ts
Labels: script, test ok

#1774 CIT - Liberar Turno: modificar tipo de turno
  modules/turnos/controller/agenda.ts
  modules/turnos/routes/agenda.ts
Labels: test ok

#1847 CIT - Crear agenda con profesional habilitado.
  core/tm/routes/profesional.ts
Labels: Aprobado, test ok

#1830 IN - Mejorar consulta para listado medico
  modules/rup/internacion/resumen/internacion-resumen.routes.ts
Labels: test ok
