Repository andes/api, pull requests merged in 2024-03, with the labels that each got.

#1845 IN - Cargar campo para diferenciar prestación de Plan de Indicaciones
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.routes.ts
  modules/rup/prestaciones.interface.ts
  modules/rup/schemas/prestacion.ts
Labels: test ok

#1862 CIT - Repara error al reasignar turnos asociados a solicitudes TOP
  modules/turnos/routes/agenda.ts
Labels: test ok

#1832 (RUP-363) Filtro por actualizacion de solicitudes
  modules/rup/routes/prestacion.ts
  modules/rup/schemas/prestacion.ts
Labels: Aprobado, test ok

#1844 MAT - Agregar nueva ruta patch
  core/tm/controller/profesional.ts
  core/tm/routes/profesional.ts
Labels: changes done, test ok

#1856 IN - nuevo rol de internacion: farmacia
  auth/permisos.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.routes.ts
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
Labels: Aprobado, test ok

#1853 IN - eliminar indicación en estado borrador
  modules/rup/internacion/plan-indicaciones/plan-indicaciones.schema.ts
Labels: Aprobado, test ok
