Repository andes/api, pull requests merged in 2025-05, with the labels that each got.

#2050 Receta: Cambios en api patch y get
  modules/recetas/receta-schema.ts
  modules/recetas/recetaLogs.ts
  modules/recetas/recetas.routes.ts
  modules/recetas/recetasController.ts
  modules/recetas/services/receta.ts
Labels: receta

#2048 Se agrega ruta en snomed para devolver listado de valores
  core/term/controller/snomed.controller.ts
  core/term/controller/snomed.snowstorm.ts
  core/term/routes/snomedv2.ts
Labels: Aprobado, changes done, receta

#2047 RUP - Modificar POST generar recetas
  modules/recetas/receta-schema.ts
  modules/recetas/recetaLogs.ts
  modules/recetas/recetas.routes.ts
  modules/recetas/recetasController.ts
Labels: receta

#2046 fix(CIT): corrección de errores varios
  modules/turnos/routes/listaEspera.ts
Labels: Aprobado, app

#2036 TOP - Buscar internacion
  core-v2/mpi/paciente/paciente.controller.ts
  core-v2/mpi/paciente/paciente.routes.ts
Labels: changes done

#2019 HUDS - Habilitacion parcial de la HUDS
  auth/permisos.ts
  modules/recetas/recetas.routes.ts
Labels: app

#2053 MPI - Convivientes
  core-v2/mpi/parentesco/parentesco.interface.ts
  core-v2/mpi/parentesco/parentesco.schema.ts
Labels: app

#2038 HUDS - Agregar estado, tipo de muestra y prácticas
  modules/descargas/laboratorio/laboratorio-body.ts
Labels: changes done

#2034 MPI - Obra social PUCO
  core-v2/mpi/paciente/paciente.controller.ts
  modules/obraSocial/controller/obraSocial.ts
  modules/obraSocial/controller/puco.ts
  modules/obraSocial/routes/obraSocial.ts
Labels: changes done, app
