Repository andes/api, pull requests merged in 2025-08, with the labels that each got.

#2086 Fix app mobile
  modules/descargas/matriculaciones/credencial-profesional-body.ts
Labels: publicar

#2070 MAT - Modificar credencial
  modules/descargas/matriculaciones/certificado-etica-body.ts
  templates/matriculaciones/certificado-etica.scss
  templates/matriculaciones/img/sello.png
Labels: publicar

#2084 MPI-454: Registrar paciente fallecido
  core-v2/mpi/paciente/paciente.schema.ts
  core-v2/mpi/paciente/pacienteFallecimiento.schema.ts
Labels: changes requested

#2029 RUP - Implementa job para actualizar estado de recetas
  jobs/vencimientoRecetas.ts
  modules/recetas/parametros.schema.ts
  modules/recetas/recetaLogs.ts
  modules/recetas/recetasController.ts
Labels: changes requested, receta
