Repository andes/api, pull requests merged in 2025-03, with the labels that each got.

#2027 TYP (Fix) - Prestacion sin registros
  modules/estadistica/controller/procesarFueraDeAgenda.ts
Labels: publicar

#2003 CIT - Implementa logs de bloques en job de actualizacion
  modules/turnos/controller/agenda.ts
Labels: Aprobado

#1994 IN - Modificar carga de OS en alta de internación capa estadística
  modules/rup/internacion/camas.routes.ts
Labels: Aprobado, Test Locales OK

#2007 MPI - Recupera financiador en paciente sin params
  core-v2/mpi/paciente/paciente.controller.ts
Labels: Aprobado

#2021 IN - cambiar periodos de registros de internacion
  auth/auth.class.ts
  modules/huds/hudsAccesos.routes.ts
Labels: app
